@model SNL.SNLWebX.IRWebAPI.Common.Models.CalendarEvents.CalendarEvents
@{

    var hasdata = false;
    var divId = "nodatamessage" + Model.EventKey;
}

  
    <div id="@divId" class="irwNoData">No details are available for this event.</div>    

    @if (Model.Detail != null || Model.EventType == 4)
    {
        switch (Model.EventType)
        {
               
            case 3: // Company Meetings
                {
                    if (!string.IsNullOrEmpty(Model.Detail.ConferenceCallDate))
                    {
                        hasdata = true;
                        <div class="irwEventDetails">
                            <div class="irwDetailTitle">Conference Call Date:</div>
                            <div class="irwDetail">@Model.Detail.ConferenceCallDate</div>
                        </div>
                    }                    
                    if (!string.IsNullOrEmpty(@Model.Detail.ConferenceVenue) || !string.IsNullOrEmpty(@Model.Detail.CityStatePublished))
                    {
                        hasdata = true;
                        <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span class="fa fa-location-arrow"></span>Location:</div>
                            <div class="irwDetail">
                                @if (!string.IsNullOrEmpty(Model.Detail.ConferenceVenue))
                                {
                                    @Model.Detail.ConferenceVenue<br />
                                }
                                @(Model.Detail.CityStatePublished)
                            </div>
                        </div>
                    }
                }

                break;
            case 2: //  Earning Release
                {
                    if (!string.IsNullOrEmpty(Model.Detail.ExpectedEarningsRelease))
                    {
                        hasdata = true;
                         <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span></span>Date:</div>
                            <div class="irwDetail">
                              @Model.Detail.ExpectedEarningsRelease
                            </div>

                        </div>
                    }
                    if (Model.Detail.DateEndedStandard.HasValue)
                    {
                        hasdata = true;
                         <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span></span>Period End:</div>
                            <div class="irwDetail">
                              @Model.Detail.DateEndedStandard
                            </div>

                        </div>
                    }
                   
                    if (Model.EPSFFO.YearAgoActual.HasValue || Model.EPSFFO.ConsensusEstimate.HasValue || Model.EPSFFO.CurrentReported.HasValue || Model.EPSFFO.OverUnder.HasValue)
                    {
                        hasdata = true;
                        <div class="irwEventDetails">
                            <div class="irwDetailTitle">@Model.EPSFFO.EPSFFOHeader+:</div>
                            <div class="irwDetail">
                                <ul>
                                @if (Model.EPSFFO.YearAgoActual.HasValue)
                                {
                                    <li>Year Ago Actual: @Model.EPSFFO.YearAgoActual</li>
                                }
                                @if (Model.EPSFFO.ConsensusEstimate.HasValue)
                                {
                                    <li>Consensus Estimate: @Model.EPSFFO.ConsensusEstimate</li>
                                }
                                @if (Model.EPSFFO.CurrentReported.HasValue)
                                {
                                    <li>Current Reported: @Model.EPSFFO.CurrentReported</li>
                                }
                                @if (Model.EPSFFO.OverUnder.HasValue)
                                {
                                    <li>Over/Under: @Model.EPSFFO.OverUnder</li>
                                }
                                </ul>
                            </div>

                        </div>
                    }
                }
                break;
           
            case 0: // Conferences
                {
                    if (!string.IsNullOrEmpty(Model.Detail.ConferenceBegins))
                    {
                        hasdata = true;
                         <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span></span>Conference Begins:</div>
                            <div class="irwDetail">
                              @Model.Detail.ConferenceBegins
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(Model.Detail.ConferenceEnds))
                    {
                        hasdata = true;
                         <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span></span>Conference Ends:</div>
                            <div class="irwDetail">
                              @Model.Detail.ConferenceEnds
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(Model.Detail.Conference))
                    {
                        hasdata = true;
                         <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span></span>Conference:</div>
                            <div class="irwDetail">
                              @Model.Detail.Conference
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(Model.Detail.ConferenceURL))
                    {
                        hasdata = true;
                         <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span class="fa fa-globe"></span>Website:</div>
                            <div class="irwDetail">
                                <a target="_blank" href="@Model.Detail.ConferenceURL">@Model.Detail.ConferenceURL</a>                              
                            </div>
                        </div>
                    }
                    
                    if (!string.IsNullOrEmpty(Model.Detail.ShortName))
                    {
                        hasdata = true;
                         <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span></span>Host Company:</div>
                            <div class="irwDetail">
                              @Model.Detail.ShortName
                            </div>
                        </div>
                    }
                     if (!string.IsNullOrEmpty(Model.Detail.KeyConferenceType))
                    {
                        hasdata = true;
                         <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span></span>Conference Type:</div>
                            <div class="irwDetail">
                              @Model.Detail.KeyConferenceType
                            </div>
                        </div>
                    }
                    if (!string.IsNullOrEmpty(Model.Detail.ConferenceVenue)) {
                        hasdata = true;
                    <div class="irwEventDetails">
                        <div class="irwDetailTitle"><span class="fa fa-location-arrow"></span>Location:</div>
                        <div class="irwDetail">
                            <ul>                            
                                <li>@Model.Detail.ConferenceVenue</li>
                                @if (!string.IsNullOrEmpty(Model.Detail.City)) {
                                hasdata = true;
                                    <li>@Model.Detail.City</li>
                                }
                                @if (!string.IsNullOrEmpty(Model.Detail.State)) {
                                hasdata = true;
                                    <li>@Model.Detail.State</li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                     if (!string.IsNullOrEmpty(Model.Detail.PhonePublished))
                    {
                        hasdata = true;
                         <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span class="fa fa-mobile-phone"></span>Contact:</div>
                            <div class="irwDetail">
                              @Model.Detail.PhonePublished
                            </div>
                        </div>
                    }                    
                    if(Model.Presenters.Count > 0){
                    <div class="irwEventDetails">
                        <div class="irwDetailTitle">Conference Presenters:</div>
                        <div class="irwDetail">
                            <ul>
                            @for (int i = 0; i < Model.Presenters.Count; i++) {
                                var item = Model.Presenters[i];
                                hasdata = true;
                                                        
                                if (!string.IsNullOrEmpty(item.ShortName))
                                {
                                    <li>@item.ShortName @if (!string.IsNullOrEmpty(item.TradingSymbol)){<span>&nbsp;(</span>@item.TradingSymbol<span>)</span>}</li>
                                }                                
                            }
                            </ul>
                        </div>
                    </div>
                    }
                    break;
                }
            case 1: // Conference Calls
                {

                    if (Model.Detail.DateEndedStandard.HasValue)
                    {
                        hasdata = true;
                         <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span></span>Period End:</div>
                            <div class="irwDetail">
                              @Model.Detail.DateEndedStandard
                            </div>

                        </div>
                    }

                    if (Model.Detail.ConferenceCallPhone.Any(c => c.Length > 0))
                    {
                        hasdata = true;
                        <div class="irwEventDetails">
                            <div class="irwDetailTitle"><span class="fa fa-mobile-phone"></span>Phone:</div>
                            <div class="irwDetail">
                                <ul>
                                @foreach (var phone in Model.Detail.ConferenceCallPhone)
                                {
                                    <li>@phone</li>
                                }
                                </ul>
                            </div>

                        </div>
                    }
                    if (!string.IsNullOrEmpty(Model.Detail.ConferenceCallURL))
                    {
                        hasdata = true;
                        <div class="irwEventDetails">
                             <div class="irwDetailTitle"><span class="fa fa-globe"></span>Webcast URL:</div>
                            <div class="irwDetail"><a target="_blank" href="@Model.Detail.ConferenceCallURL">@Model.Detail.ConferenceCallURL</a></div>
                        </div>
                    }

                    if (!string.IsNullOrEmpty(Model.Detail.PersonName) || !string.IsNullOrEmpty(Model.Detail.PersonTitle) || !string.IsNullOrEmpty(Model.Detail.PhonePublished) || !string.IsNullOrEmpty(Model.Detail.Email))
                    {
                        hasdata = true;
                        <div class="irwEventDetails">
                             <div class="irwDetailTitle"><span class="fa fa-mobile-phone"></span>Contact:</div>
                               <div class="irwDetail">
                                   <ul>
                                    @if (!string.IsNullOrEmpty(Model.Detail.PersonName))
                                    {
                                        <li>@Model.Detail.PersonName</li>
                                    }
                                   @if (!string.IsNullOrEmpty(Model.Detail.PersonTitle))
                                   {
                                        <li>@Model.Detail.PersonTitle</li>
                                   }
                                   @if (!string.IsNullOrEmpty(Model.Detail.PhonePublished))
                                   {
                                        <li>@Model.Detail.PhonePublished</li>
                                   }
                                   @if (!string.IsNullOrEmpty(Model.Detail.Email))
                                   {
                                        <li><a href="mailto:@Model.Detail.Email">@Model.Detail.Email</a></li>
                                   }
                                   </ul>
                               </div>
                        </div>
                    }
                    if (Model.EPSFFO.YearAgoActual.HasValue || Model.EPSFFO.ConsensusEstimate.HasValue || Model.EPSFFO.CurrentReported.HasValue || Model.EPSFFO.OverUnder.HasValue)
                    {
                        hasdata = true;
                        <div class="irwEventDetails">
                            <div class="irwDetailTitle">@Model.EPSFFO.EPSFFOHeader:</div>
                            <div class="irwDetail">
                                <ul>
                                @if (Model.EPSFFO.YearAgoActual.HasValue)
                                {
                                    <li>Year Ago Actual: @Model.EPSFFO.YearAgoActual</li>
                                }
                                @if (Model.EPSFFO.ConsensusEstimate.HasValue)
                                {
                                    <li>Consensus Estimate: @Model.EPSFFO.ConsensusEstimate</li>
                                }
                                 @if (Model.EPSFFO.CurrentReported.HasValue)
                                 {
                                    <li>Current Reported: @Model.EPSFFO.CurrentReported</li>
                                 }
                                @if (Model.EPSFFO.OverUnder.HasValue)
                                {
                                    <li>Over/Under: @Model.EPSFFO.OverUnder</li>
                                }
                                </ul>
                            </div>

                        </div>
                    }

                }
                break;
            case 4: // console event
                {
                    hasdata = false;

                    if (!string.IsNullOrEmpty(Model.CompanyCalendarEvent))
                    {
                        hasdata = true;
                        <div class="irwEventDetails">
                            <div class="irwDetail">@Html.Raw(Model.CompanyCalendarEvent)</div>
                        </div>
                    }
                    break;
                }
        }
        <div class="clearfix"></div>
    }

<script>
    document.getElementById('@divId').style.display = '@hasdata' == 'True' ? 'none' : 'block';
</script>
