#irwWrapper #corp-event-caendar table {
    border-spacing: 0;
    width: 100%;
}

#irwWrapper #corp-event-caendar .calendar-container {
    height: 538px;
    left: 50%;
    margin: -255px 0 0 -245px;
    position: absolute;
    top: 45%;
    width: 510px;
}

#irwWrapper #corp-event-caendar .calendar {
    text-align: left;
}

#irwWrapper #corp-event-caendar .calendar header {
    position: relative;
}

#irwWrapper #corp-event-caendar .calendar h2 {
    margin-top: 0;
    text-transform: uppercase;
}

#irwWrapper #corp-event-caendar .calendar h2.month {
    text-align: center;
}

#irwWrapper #corp-event-caendar .calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

#irwWrapper #corp-event-caendar .calendar tbody {
    color: #7c8a95;
}

#irwWrapper #corp-event-caendar .calendar tbody td:hover {
    background-color: #eee;
}

#irwWrapper #corp-event-caendar .calendar .list tbody td:hover, #irwWrapper #corp-event-caendar .calendar .list tbody td.active {
    background: none;
}

#irwWrapper #corp-event-caendar .calendar tbody td.active {
    background-color: #dddddd;
}

#irwWrapper #corp-event-caendar .calendar td {
    border: 2px solid transparent;
    line-height: 64px;
    padding: 1px;
    text-align: center;
    width: 14.2%;
}

    #irwWrapper #corp-event-caendar .calendar .list td {
        text-align: left;
        line-height: normal;
    }

        #irwWrapper #corp-event-caendar .calendar .list td img {
            margin-bottom: 10px;
            margin-right: 5px;
        }

#irwWrapper #corp-event-caendar .calendar .event-days td {
    background-color: #333333;
    border-radius: 0;
    color: #ffffff;
}

#irwWrapper #corp-event-caendar .current-day,
#irwWrapper #corp-event-caendar .calendar tbody td.current-day {
    background: #8DC63F;
    color: #fff;
}

#irwWrapper #corp-event-caendar .event {
    cursor: pointer;
    position: relative;
}

#irwWrapper #corp-event-caendar .event:after {
    background: #8DC63F;
    border-radius: 50%;
    bottom: 8px;
    display: block;
    content: '';
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    width: 8px;
}

#irwWrapper #corp-event-caendar .event.current-day:after {
    background: #f9f9f9;
}

#irwWrapper #corp-event-caendar .btn-prev,
#irwWrapper #corp-event-caendar .btn-next {
	
	border-radius: 50%;
	color: #fff;
	height: 32px;
	font-size: 22px;
	line-height: 28px;
	margin: -16px;
	position: absolute;
	top: 50%;
	width: 32px;
    text-align: center;
    background: #8DC63F;
    border: 2px solid #8DC63F;
}

#irwWrapper #corp-event-caendar .btn-prev:hover,
#irwWrapper #corp-event-caendar .btn-next:hover {
    background-color: #0077C0;
    border: 2px solid #0077C0;
    color: #fff;
}

#irwWrapper #corp-event-caendar .btn-prev {
    left: 30px;
}

#irwWrapper #corp-event-caendar .btn-next {
    right: 35px;
}

#irwWrapper #corp-event-caendar .list {
    margin-top: 20px;
}

#irwWrapper  #corp-event-caendar .day-event {
    background-color: #FCFCFC;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    display:none;

}

#irwWrapper #corp-event-caendar .day-event p,
#irwWrapper #corp-event-caendar .day-event p span{
    font-size: 20px;
    padding-bottom: 20px;
}

#irwWrapper #corp-event-caendar .day-event span{
    font-size: 12px;
}

#irwWrapper #corp-event-caendar .day-event button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #c0392b;
    border: 0;
    border-bottom: 2px solid #b53224;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #b53224;
    box-shadow: inset 0 -2px #b53224;
}

#irwWrapper #corp-event-caendar .check-btn {
    width: 100%;
}
#irwWrapper #corp-event-caendar input[type=checkbox] {display:none;}

#irwWrapper #corp-event-caendar span.red-button-bg {
    background-color:#373740;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    font-weight:700;
    color:#FFF;
    font-size:.85em;
    letter-spacing:2px;
    text-decoration:none;
    font-family:'PT Sans', sans-serif;
    text-align:center;
    width:100%;
    height:50px;
    line-height:50px;
    cursor:pointer;
    display:block;
    margin: 0 auto;
    -webkit-transition:background-color 150ms ease-in;
    -moz-transition:background-color 150ms ease-in;
    -ms-transition:background-color 150ms ease-in;
    -o-transition:background-color 150ms ease-in;
    transition:background-color 150ms ease-in;
}

#irwWrapper #corp-event-caendar span.red-button-bg:hover {
    background-color:#c0392b;
}

#irwWrapper #corp-event-caendar input[type=checkbox]:checked + span {
    background-color:#9C2E23;
    text-decoration:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:#9C2E23 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;
    background-size:15px 13px;
}

#irwWrapper #corp-event-caendar input[type=checkbox]:checked:hover + span {
    background-color:#9C2E23;
    color:rgba(255,255,255,0.5);
    text-decoration:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:#9C2E23 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS5JREFUeNq8110OgjAMAGBGvIY3VESjt9jPg95PT+LccBIZ7dYOWJPGB+g+Ymg3hLW2QeLkcu/y2pSFdvl0eQevehjI3uXbfkMh96TShFq/xhG6J4faAtxEtSBOQTm4QWpnOBWl4CZT69fuYpiCpnBDrB1xLhrjgoFO8F1oGcFslUv4bV32zFoxmOHJta0XMn65dC0UaiddA8UGiN4axeC1cUkdmWviEls/NwL1FqjPNtNvoimPdC3yRCUTiTXbt0R/oSnw2iiK10BBvBY6w2uiE3xJr8oFtcrvxy/fVcyeVdGx98yotcOxN/znHeMUIhdMOG8c4reagssF43VEoT5O4ZJwvNUUFJtcEE5BMXyGpnanf5yDxjiI+hSJj7YunEBvhbuTCh9tD+jiR4ABAJ0SrJgNr1UAAAAAAElFTkSuQmCC) no-repeat 7% center;
    background-size:15px 15px;
}

#irwWrapper #corp-event-caendar .print-btn {
    padding: 1px 14px 5px 14px;
}

#eventform .irwEventAlert {
    margin-bottom: 30px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

@media (max-width: 480px) {
    #irwWrapper #corp-event-caendar .calendar h2 {
        font-size: 14px;
    }

    #irwWrapper #corp-event-caendar .calendar .event-days td {
        font-size: 12px;
        line-height: 30px;
    }

    #irwWrapper #corp-event-caendar .calendar td {
        line-height: 50px;
    }
}