﻿@using SNL.SNLWebX.IRW.Controllers
@using SNL.SNLWebX.IRW.Models.Controls
@model SNL.SNLWebX.IRW.Models.Event.EventViewModel

@{
    ViewBag.BaseViewModel = Model.BaseViewModel;
    Model.BaseViewModel.PageHeader = string.IsNullOrEmpty(Model.BaseViewModel.PageHeader) ? "Events" : Model.BaseViewModel.PageHeader;
    Model.BaseViewModel.PageTitle = string.IsNullOrEmpty(Model.BaseViewModel.PageTitle) ? "Events" : Model.BaseViewModel.PageTitle;

    ViewBag.PageJsBundles.Add("~/bundles/js/pages/event");

    ViewBag.PageCssBundles.Add("~/bundles/css/pages/bootstrap/timeline");

    ViewBag.SiteJsInline += "$.snl.ir.models.event = " + SNL.SNLWebX.IRW.Helpers.IRHtmlHelper.ToJson(Model).ToString() + ";";

    Model.PastEvents = Model.PastEvents.OrderByDescending(Event => Event.Key).ToDictionary(Event => Event.Key, Event => Event.Value); // order the PastEvents in decending order
    
}

<div id="irwWrapper">
    <div class="container" id="irwEvent">
        @Html.Partial("Controls/HeaderAndFooters/_PageHeader", Model.BaseViewModel)
        <form id="eventform">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="irwTitle">Events</h1>

                    <div class="col-xs-12 irwEventAlert">
                        <div class="row">
                            <div class="col-lg-6"><a href="~/EmailNotification/@(Model.BaseViewModel.IsDomainMasked ? string.Empty : Model.KeyInstn.ToString())"><span class="fa fa-envelope"></span>Notify me of new Company events.</a></div>
                            <div class="col-lg-6"><a href="~/EmailNotification/@(Model.BaseViewModel.IsDomainMasked ? string.Empty : Model.KeyInstn.ToString())"><span class="fa fa-bell-o"></span>Send me reminders of Company events.</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 irwEventTabs">

                        <div class="row">
                            @if (Model.UpcomingEvents.Any() || Model.PastEvents.Any())
                            {
                                <div class="col-md-12" id="corp-event-caendar">
                                    <div class="calendar hidden-print">
                                        <header>
                                            <h2 class="month"></h2>
                                            <a class="btn-prev fa fa-angle-left" href="javascript:;"></a>
                                            <a class="btn-next fa fa-angle-right" href="javascript:;"></a>
                                        </header>
                                        <table>
                                            <thead class="event-days">
                                                <tr></tr>
                                            </thead>
                                            <tbody class="event-calendar">
                                                <tr class="1"></tr>
                                                <tr class="2"></tr>
                                                <tr class="3"></tr>
                                                <tr class="4"></tr>
                                                <tr class="5"></tr>
                                            </tbody>
                                        </table>
                                        <div class="list">
                                            @foreach (var evntUp in Model.UpcomingEvents)
                                            {
                                                var type = evntUp.EventType.Value;

                                                var eventday = @evntUp.CompanyCalendarDateET.Value.Day;
                                                var eventmonth = @evntUp.CompanyCalendarDateET.Value.Month;
                                                var eventyear = @evntUp.CompanyCalendarDateET.Value.Year;
                                                
                                                <div class="day-event" date-day="@eventday" date-month="@eventmonth" date-year="@eventyear"  data-number="@evntUp.EventKey">
                                                    <a href="javascript:;" class="close fa fa fa-close"></a>
                                                    <h2 class="title">@evntUp.CompanyCalendarTitle</h2>
                                                    <p class="date">@evntUp.CompanyCalendarDateET.Value.ToString("MMMM dd, yyyy") @if (evntUp.CompanyCalendarDateEndET.HasValue)
                                                                                                                                {<span>- @evntUp.CompanyCalendarDateEndET.Value.ToString("MMMM dd, yyyy")</span>}</p>
                                                    <div id="invpresent">
                                                        @Html.Partial("_eventCalender", evntUp)
                                                    </div>
                                                </div>
                                                
                                            }

                                            @foreach (var year in Model.PastEvents)
                                            {
                                                int type;
                                                DateTime startdate;
                                                DateTime? enddate;

                                                if (year.Key == Model.PastEvents.Keys.First())
                                                {
                                                    foreach (var evnt in year.Value)
                                                    {

                                                        var eventday = @evnt.CompanyCalendarDateET.Value.Day;
                                                        var eventmonth = @evnt.CompanyCalendarDateET.Value.Month;
                                                        var eventyear = @evnt.CompanyCalendarDateET.Value.Year;
                                                        
                                                    <div class="day-event" date-day="@eventday" date-month="@eventmonth" date-year="@eventyear"  data-number="@evnt.EventKey">
                                                        <a href="javascript:;" class="close fa fa fa-close"></a>
                                                        <h2 class="title">@evnt.CompanyCalendarTitle</h2>
                                                        <p class="date">@evnt.CompanyCalendarDateET.Value.ToString("MMMM dd, yyyy") @if (evnt.CompanyCalendarDateEndET.HasValue)
                                                                                                                                    {<span>- @evnt.CompanyCalendarDateEndET.Value.ToString("MMMM dd, yyyy")</span>}</p>
                                                        <div id="invpresent">
                                                            @Html.Partial("_eventCalender", evnt)
                                                        </div>
                                                    </div>
                                                    }
                                                }
                                                
                                                else{
                                                    foreach (var evnt in year.Value)
                                                    {
                                                        var eventday = @evnt.CompanyCalendarDateET.Value.Day;
                                                        var eventmonth = @evnt.CompanyCalendarDateET.Value.Month;
                                                        var eventyear = @evnt.CompanyCalendarDateET.Value.Year;
                                                    
                                                        <div class="day-event" date-day="@eventday" date-month="@eventmonth" date-year="@eventyear"  data-number="@evnt.EventKey">
                                                        <a href="javascript:;" class="close fa fa fa-close"></a>
                                                        <h2 class="title">@evnt.CompanyCalendarTitle</h2>
                                                        <p class="date">@evnt.CompanyCalendarDateET.Value.ToString("MMMM dd, yyyy") @if (evnt.CompanyCalendarDateEndET.HasValue)
                                                                                                                                    {<span>- @evnt.CompanyCalendarDateEndET.Value.ToString("MMMM dd, yyyy")</span>}</p>
                                                        <div id="invpresent">
                                                            @Html.Partial("_eventCalender", evnt)
                                                        </div>
                                                    </div>
                                                    }
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <span>There are no events currently scheduled.</span>
                            }
                        </div>

                    </div>

                </div>
            </div>
        </form>
        @Html.Partial("Controls/HeaderAndFooters/_PageFooter", Model.BaseViewModel)
    </div>
</div>
