﻿@using System.Text.RegularExpressions;
@using SNL.SNLWebX.IRWebAPI.Common.Models.CommitteeChart;
@model SNL.SNLWebX.IRW.Models.CommitteeChart.CommitteeChartViewModel

@{
    Model.BaseViewModel.PageTitle = String.IsNullOrEmpty(Model.BaseViewModel.PageTitle) ? "Committee Charting" : Model.BaseViewModel.PageTitle;  
    
    ViewBag.BaseViewModel = Model.BaseViewModel;
    
    var committeeList = Model.Committees;
    var memberList = Model.Members;
    var documentList = Model.Documents;
    var KeyInstn = ViewContext.RouteData.Values["keyInstn"];
    string tempurl = Model.BaseViewModel.IsPreviewMode ? Model.BaseViewModel.BaseURLTemplate.ToLower().Replace("http:", "https:") : Model.BaseViewModel.BaseURLTemplate;

    // Sorting Member List by last name
    memberList = memberList.OrderBy(memberitem2 =>
    {
        string Name = memberitem2.Name;

        string[] Names = Name.Split(' ');
        string LastWord = Names[Names.Length - 1].ToString();
        if (Names.Length > 3 && LastWord.Length < 4)
        {
            Name = Name.Replace(LastWord, "").Trim();
        }

        Name = Name.Substring(Name.LastIndexOf(" "), Name.Length - Name.LastIndexOf(" "));

        return Name;
    }).ToList();
    
    
    ViewBag.PageJsBundles.Add("~/bundles/js/pages/committeeChart");      
    string dochref = string.Empty;
    string keyFile = string.Empty;
}

<div id="irwWrapper">
    <div class="container" id="irwCommitteeCharting">
          @Html.Partial("Controls/HeaderAndFooters/_PageHeader", Model.BaseViewModel) 
        <form id="Committeeform">
            <h1 class="irwTitle">Committee Charting</h1>
            <div class="row">
                <div class="col-xs-12 irwCommittee">
                    <div id="irwCommitteeMobTab" class="tabbable">
                        <ul id="irwTabsEvent" class="nav nav-tabs">
                            <li class="active"><a href="#ByCommittee">By Committee</a></li>
                            <li><a href="#ByMember">By Member</a></li>
                        </ul>
                      </div>

                    <!-- Mobile Tab View -->
                    <div id="ByCommittee" class="Committeetab irwHide">
                    <table class="table irwMemberTable" data-sort="false">
                        <thead>
                            <tr class="active">
                                <th class="Tbl-th-FirstCol" data-toggle="true"><strong></strong></th>
                                    @{
                                        var memberHeadItemRowIndex = 1;
                                        foreach (var memberHeadItem in memberList)
                                        {
                                            if (memberHeadItem.Name == "Jonathan D. Gray")
                                            {
                                                <th class="irwMemberName not-member" data-hide="phone,tablet"></th>
                                            }
                                            else {
                                            <th class="irwMemberName" data-hide="phone,tablet">
                                                <a href="~/od/@(Model.BaseViewModel.IsDomainMasked ? string.Empty : Model.KeyInstn.ToString())" onclick="javascript:window.open(this,'_self')">@Html.Raw(memberHeadItem.Name)</a>
                                            </th>
                                            }
                                        }
                                        memberHeadItemRowIndex += 1;
                                        foreach (var committeeItem in committeeList)
                                        {
                                            var committeeDocumentList = documentList.Where(x => x.KeyIRDirectorCommittee == committeeItem.KeyCommittee).OrderBy(x => x.Title);
                                            
                                            if (!String.IsNullOrEmpty(committeeItem.CharterText)) {
                                                <th class="irwMemberName irwCharterdocs text-primary" data-hide="phone,tablet" data-class="lastchild">Committee Description</th>                                            
                                            }
                                            if (committeeDocumentList.Count() > 0)
                                            {            
                                            <th class="irwMemberName irwCharterdocs text-primary" data-hide="phone,tablet" data-class="lastchild">Charter Documents</th>
                                            }
                                        }
                                                  
                                    }
                            </tr>
                        </thead>
                        <tbody>                                        
                            @{
                                var committeeItemModalIndexMob = 1;

                                foreach (var committeeItem in committeeList)
                                {
                                    <tr class="@(committeeList.Count == committeeItemModalIndexMob ? "lasttd" : "") ">
                                        <td class="text-primary irwCommitteeName"  data-detail="@committeeItem.FormOrder">@Html.Raw(committeeItem.CommitteeName)</td>          
                                        @{
                                            var committeeMemberItemModalIndexMob = 1;
                                            foreach (var memberItem in memberList)
                                            {
                                                var isMember = committeeItem.CommitteeMembers.Exists(x => x.KeyPerson == memberItem.KeyPerson);                                  
                                                <td class="text-muted">
                                                    @if (memberItem.Name == "Jonathan D. Gray") {
                                                        isMember = false;
                                                    }
                                                    @MemberIcons(committeeItem, memberItem.KeyPerson, isMember)
                                                </td>
                                                committeeMemberItemModalIndexMob += 1;
                                            }
                                            var committeeDocumentList = documentList.Where(x => x.KeyIRDirectorCommittee == committeeItem.KeyCommittee).OrderBy(x => x.Title);
                                        }
                                        
                                        @if (!String.IsNullOrEmpty(committeeItem.CharterText))
                                        {
                                         <td class="text-muted irwCharterdocs">
                                            <div class="irwCommittDescription" data-detail="@committeeItem.FormOrder">
                                                <div class="irwModalCommitteeDescription irwScrollbar">                                                           
                                                    @committeeItem.CharterText
                                                </div> 
                                            </div>
                                        </td>
                                        }
                                        @if (committeeDocumentList.Count() > 0 && committeeItem.ShowCharterDocs)
                                        {  
                                        <td class="text-muted irwCharterdocs">
                                            <table id="irwCharterdocs">
                                                @{
                                                    foreach (var documentItem in committeeDocumentList)
                                                    {

                                                        dochref = (documentItem.KeyDoc == null ? (Model.BaseViewModel.IsPreviewMode && !documentItem.Link.ToLower().StartsWith("http") ? "../" + documentItem.Link : documentItem.Link) : tempurl + "/" + documentItem.Link);
                                                            keyFile = string.Empty;
                                                            if (documentItem.KeyFile == null)
                                                            {
                                                                var DocKeyfile = HttpUtility.ParseQueryString(dochref).Get("Keyfile");
                                                                keyFile = (!string.IsNullOrEmpty(DocKeyfile)) ? DocKeyfile : "0";
                                                            }
                                                            else
                                                            {
                                                                keyFile = documentItem.KeyFile.ToString();
                                                            }
                                                                                                               
                                                        <tr class="irwHasGA">
                                                            <td class="text-muted"><span class="faBox"><i class="fa fa-file-pdf-o"></i></span></td>
                                                            <td class="text-muted"><a href="@dochref" class="irwEventTracking irwGaHasTitle irwGaHasFile irwGaLabel" data-GaFID="@keyFile"  data-GaTitle="PDF" target="_blank">@Html.Raw(documentItem.Title)</a></td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </td>    
                                        }  
                                          
                                    </tr>                                         
                                    committeeItemModalIndexMob += 1;
                                }
                            } 
                        </tbody>
                    </table>
                    </div>
                    <!-- End Mobile Tab View -->
                    <div  id="ByMember" class="Committeetab">
                    <table class="table table-hover irwCommitteeTable" data-sort="false">
                        <thead>
                            <tr class="active">
                                <th class="Tbl-th-FirstCol" data-toggle="true"><strong></strong></th>
                                @{
                                    var committeeItemHeaderIndex = 1;

                                    foreach (var committeeItem in committeeList)
                                    {
                                        <th data-hide="phone,tablet" rel="col@(committeeItemHeaderIndex)" class="col@(committeeItemHeaderIndex) text-primary"><a data-slide-to="@committeeItemHeaderIndex" data-target="#irwModalCommittee@(committeeItemHeaderIndex)" data-toggle="modalCommittee" href="javascript:void(null);" class="irwTriggerModal text-primary"><strong>@Html.Raw(committeeItem.CommitteeName)</strong></a></th>
                                        
                                        committeeItemHeaderIndex += 1;
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (memberList.Count == 0)
                            {
                                <tr class="text-primary">
                                    <td class="text-muted" colspan="@committeeItemHeaderIndex">No committee members.</td>
                                </tr>
                            }
                            else
                            {
                                var memberItemRowIndex = 1;

                                foreach (var memberItem in memberList)
                                {
                                    <tr data-slide-to="@memberItemRowIndex" data-target="#irwModalMember@(memberItemRowIndex)" data-toggle="modalMember" class="irwTriggerModal text-primary @(memberList.Count == memberItemRowIndex ? "lasttd" : "") ">
                                        <td class="irwMemberName">@Html.Raw(memberItem.Name)</td>
                                        @{
                                        var memberItemColumnIndex = 1;
                                        var isCommitteeMember = false;

                                        foreach (var committeeItem in committeeList)
                                        {
                                            isCommitteeMember = (committeeItem.CommitteeMembers.Exists(x => x.KeyPerson == memberItem.KeyPerson) ? true : false);
                                                
                                            <td rel="col@(memberItemColumnIndex)" class="col@(memberItemColumnIndex) text-muted irwCommiticon@(isCommitteeMember ? " irwMember" : String.Empty)">
                                                @if (memberItem.Name == "Jonathan D. Gray") {
                                                    isCommitteeMember = false;
                                                }
                                                @MemberIcons(committeeItem, memberItem.KeyPerson, isCommitteeMember)
                                            </td>
                                            
                                            memberItemColumnIndex += 1;
                                        }
                                        }
                                    </tr>

                                    memberItemRowIndex += 1;
                                }
                            }
                        </tbody>
                    </table>
                    </div>
                    <!-- modal -->   
                    <div class="modal fade" id="irwChartModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @if (memberList.Count > 1) { 
                                    <div class="irwUp irwModleBtn"><i class="fa fa-angle-double-left"></i></div>
                                }
                                @if (committeeList.Count > 1){ 
                                    <div class="irwprev irwModleBtn"><i class="fa fa-angle-double-left"></i></div>
                                }
                                <div class="modal-body">
                                    <!-- Committee Name -->                            
                                    @{
                                        var committeeItemModalIndex = 1;

                                        foreach (var committeeItem in committeeList)
                                        {
                                            <div class="irwCommitDetail" id="irwModalCommittee@(committeeItemModalIndex)">
                                                <div class="modal-header bg-primary">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title"><strong>@Html.Raw(committeeItem.CommitteeName)</strong></h4>
                                                </div>

                                                @{
                                                    var committeeDocumentList = documentList.Where(x => x.KeyIRDirectorCommittee == committeeItem.KeyCommittee).OrderBy(x => x.Title);
                                                }
                                                <div class="modalbody">
                                                    <div class="row">                                        
                                                        <div class="col-xs-6 irwCommitImgDetailText">
                                                            <div class="irwModalCommitteeMember">
                                                                <h5 class="text-primary">Committee Members</h5>
                                                                <table>
                                                                @{
                                                                    var committeeMemberItemModalIndexMob = 1;
                                                                    foreach (var memberItem in memberList)
                                                                    {
                                                                        var isMember = committeeItem.CommitteeMembers.Exists(x => x.KeyPerson == memberItem.KeyPerson);           
                                                                        if(isMember){
                                                                        <tr>
                                                                            <td class="text-muted">@MemberIcons(committeeItem, memberItem.KeyPerson, isMember)</td>
                                                                            <td class="text-muted">
                                                                                <a data-slide-to="@committeeMemberItemModalIndexMob" data-target="#irwModalMember@(committeeMemberItemModalIndexMob)" data-toggle="modalMember" class="irwTriggerModal" href="javascript:void(null);">@Html.Raw(memberItem.Name)</a>
                                                                            </td>
                                                                        </tr>
                                                                        }
                                                                        committeeMemberItemModalIndexMob += 1;
                                                                    }
                                                                }
                                                                </table>
                                                            </div>
                                                        </div> 

                                                        <div class="col-xs-6 irwCommitImgDetailText">     
                                                            @if (!String.IsNullOrEmpty(committeeItem.CharterText))
                                                            {
                                                                <div class="irwModalCommitteeDescription irwScrollbar">
                                                                        <h5 class="text-primary">Committee Description</h5>
                                                                        @committeeItem.CharterText
                                                                    </div>     
                                                            }
                                                            @if (committeeDocumentList.Count() > 0 && committeeItem.ShowCharterDocs) 
                                                            { 
                                                                <div class="irwModalCommitteeDocument">
                                                                    <h5 class="text-primary">Charter Documents</h5>
                                                                    <table>
                                                                        @{
                                                                            foreach (var documentItem in committeeDocumentList)
                                                                            {    
                                                                                 
                                                                                        dochref = (documentItem.KeyDoc == null ? documentItem.Link : (tempurl+"/" + documentItem.Link));
                                                                                        keyFile = string.Empty;
                                                                                        if (documentItem.KeyFile == null)
                                                                                        {
                                                                                            var DocKeyfile = HttpUtility.ParseQueryString(dochref).Get("KeyFile");
                                                                                            keyFile = (!string.IsNullOrEmpty(DocKeyfile)) ? DocKeyfile : "0";
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            keyFile = documentItem.KeyFile.ToString();
                                                                                        }
                                                                                                                                            
                                                                                <tr class="irwHasGA">
                                                                                    <td class="text-muted">
                                                                                        <span class="faBox"><i class="fa fa-file-pdf-o"></i></span> 
                                                                                    </td>
                                                                                    <td class="text-muted">
                                                                                        <a href="@dochref"  class="irwEventTracking irwGaHasTitle irwGaHasFile irwGaLabel" data-GaFID="@keyFile"  data-GaTitle="PDF" target="_blank">@Html.Raw(documentItem.Title)</a>
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </table>
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            
                                            committeeItemModalIndex += 1;
                                        }
                                    }
                                    <!-- /.Committee Name -->

                                    <!-- Member Name -->                            
                                    @{
                                        var memberItemModalIndex = 1;

                                        foreach (var memberItem in memberList)
                                        {
                                            var memberNameNoHtml = Regex.Replace(memberItem.Name, "<[^>]*>", " ");
                            
                                            <div class="irwMemberDetail" id="irwModalMember@(memberItemModalIndex)">
                                                <div class="modal-header bg-primary">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title"><strong>@Html.Raw(memberItem.Name)</strong></h4>
                                                </div>
                                                <div class="modalbody">
                                                    <div class="row">
                                                        @if (!String.IsNullOrEmpty(memberItem.OnlineImageFilePath))
                                                        { 
                                                            <div class="col-xs-3 irwCommitteeImg">
                                                                <img border="0" title="@memberNameNoHtml" alt="@memberNameNoHtml" src="@memberItem.OnlineImageFilePath">
                                                            </div>
                                                        }
                                                        <div class="col-xs-@(!String.IsNullOrEmpty(memberItem.OnlineImageFilePath) ? "9" : "12") irwCommitImgDetailText">
                                                            @if (!String.IsNullOrEmpty(memberItem.PersonBio)){
                                                                <div class="irwCommitImgTextDetail irwScrollbar">
                                                                    <div class="irwBio">@Html.Raw(memberItem.PersonBio)</div>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                            }
                                                            @{
                                                                var hide_show_membership = "block";
                                                                if (memberItem.Name == "Jonathan D. Gray")
                                                                {
                                                                    hide_show_membership = "none";
                                                                }
                                                            }
                                                            <div class="irwModalCommitteeMember" style="display:@hide_show_membership">
                                                                <h5 class="text-primary">Committee Membership</h5>
                                                                <table>
                                                                @{  
                                                                    var memberItemColumnIndex = 1;
                                                                    var isCommitteeMember = false;

                                                                        foreach (var committeeItem in committeeList)
                                                                        {
                                                                            isCommitteeMember = (committeeItem.CommitteeMembers.Exists(x => x.KeyPerson == memberItem.KeyPerson) ? true : false);
                                                                            if(isCommitteeMember){
                                                                            <tr>
                                                                                <td class="text-muted">
                                                                                   @MemberIcons(committeeItem, memberItem.KeyPerson, isCommitteeMember)
                                                                                </td>
                                                                                <td class="text-muted">
                                                                                    <a data-slide-to="@memberItemColumnIndex" data-target="#irwModalCommittee@(memberItemColumnIndex)" data-toggle="modalCommittee" href="javascript:void(null);" class="irwTriggerModal">@Html.Raw(committeeItem.CommitteeName)</a>
                                                                                </td>
                                                                            </tr>
                                                                            }
                                                                            memberItemColumnIndex += 1;
                                                                        }
                                                                    }
                                                                    </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            memberItemModalIndex += 1;                            
                                        }
                                    }
                                    <!-- /.Member Name -->
                                </div>
                                @if (committeeList.Count > 1){ 
                                    <div class="irwnext irwModleBtn"><i class="fa fa-angle-double-right"></i></div>
                                }
                                @if (memberList.Count > 1) { 
                                    <div class="irwDown irwModleBtn"><i class="fa fa-angle-double-right"></i></div>                          
                                }
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>                     
                    <!-- /.modal  -->
                    
            <!-- Legends --> 
                    <div class="irwLegends irwNote">
                       @{
                            var LegendIndex = 1;
                            var LegendChairmanOfBoard = false;
                            var LegendFinancialExpert = false;
                            var LegendCommitteeChair = false;
                            var LegendViceChair = false;  

                            foreach (var LegendItem in committeeList)
                            { 
                                    {
                                        var LegendCommitteItemModalIndex = 1;

                                        foreach (var committeeItem in LegendItem.CommitteeMembers)
                                        {
                                            
                                            if (committeeItem != null && LegendChairmanOfBoard != true && committeeItem.ChairmanOfBoard)
                                            {
                                                <div class="text-muted irwLegend">
                                                    <span class="faBox"><i class="fa fa-user"><sup class="irwMemberLegend">CB</sup></i></span><span class="irwNameLegend">= Chairman Of The Board</span>
                                                </div>
                                                LegendChairmanOfBoard = true;                           
                                            }
                                            if (committeeItem != null && LegendFinancialExpert != true && committeeItem.FinancialExpert){
                                                <div class="text-muted irwLegend">
                                                    <span class="faBox"><i class="fa fa-user"><sup class="irwMemberLegend">$</sup></i></span><span class="irwNameLegend">= Financial Expert</span>
                                                </div>
                                                LegendFinancialExpert = true;
                                            }
                                            if (committeeItem != null && LegendCommitteeChair != true &&  committeeItem.CommitteeChair)
                                            {
                                                <div class="text-muted irwLegend">
                                                    <span class="faBox"><i class="fa fa-user"><sup class="irwMemberLegend">CC</sup></i></span><span class="irwNameLegend">= Chairperson</span>
                                                </div>
                                                LegendCommitteeChair = true;
                                            }
                                            if (committeeItem != null && LegendViceChair != true && committeeItem.ViceChair)
                                            {
                                                <div class="text-muted irwLegend">
                                                    <span class="faBox"><i class="fa fa-user"><sup class="irwMemberLegend">VCB</sup></i></span><span class="irwNameLegend">= Vice Chairman Of The Board</span>
                                                </div>
                                                LegendViceChair = true;
                                            }
                                            
                                            LegendCommitteItemModalIndex += 1;
                                        }
                                    }
                                            
                                LegendIndex += 1;                            
                            }
                        }
                        <div class="text-muted irwLegend">
                            <span class="faBox"><i class="fa fa-user"></i></span><span class="irwNameLegend">= Member</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-info">*To view the charter documents, click on committee name.</div>
                    </div> 
                </div>
            </div>


        </form>
         @Html.Partial("Controls/HeaderAndFooters/_PageFooter", Model.BaseViewModel)
    </div>
</div>

@helper MemberIcons(Committee committeeItem, int keyPerson, bool isCommitteeMember)
{
    var committeeMember = committeeItem.CommitteeMembers.Where(x => x.KeyPerson == keyPerson && x.KeyCommittee == committeeItem.KeyCommittee).FirstOrDefault();
    var memberDesignationList = new List<string>();

    if (committeeMember != null && committeeMember.ChairmanOfBoard)
    {
        memberDesignationList.Add("CB");
    }
    if (committeeMember != null && committeeMember.FinancialExpert)
    {
        memberDesignationList.Add("$");
    }
    if (committeeMember != null && committeeMember.CommitteeChair)
    {
        memberDesignationList.Add("CC");
    }
    if (committeeMember != null && committeeMember.ViceChair)
    {
        memberDesignationList.Add("VCB");
    }

    if (isCommitteeMember)
    {
        if (memberDesignationList.Count == 0)
        {
            <span class="faBox"><i class="fa fa-user"></i></span>
        }
        else
        {
            foreach (var memberDesignation in memberDesignationList)
            {
                <span class="faBox"><i class="fa fa-user"><sup class="irwMemberLegend">@memberDesignation</sup></i></span> 
            }
        }
    }
}