﻿<!DOCTYPE html>
<html>
<script src="assets/js/pages/razor_tricks/angular.min.js"></script>

<script src="assets/js/pages/razor_tricks/angular-sanitize.min.js"></script>
<script src="assets/js/pages/razor_tricks/razor_codes.js"></script>
<style>
    .razor_tricks li em {
        background: #ff6;
        font-weight: bold;
        font-style: inherit;
    }
</style>
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>API's & Proxy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,300">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">
    <!-- Font CSS (icomoon) -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/irw-theme.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

    <!--code mirror CSS -->
    <link rel="stylesheet" href="codemirror/css/codemirror.css">

    <link rel="stylesheet" href="codemirror/css/fullscreen.css">
    <link rel="stylesheet" href="codemirror/css/theme/ambiance.css">
    <!--customized CSS -->
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/irw-theme.css">
</head>

<body class="messages-page" ng-app="myApp">

    <!-- Start: Main -->
    <div id="main" ng-controller="DuplicateInputCtrl">

        <!-- Start: Header -->
        <header class="navbar navbar-fixed-top bg-danger">
            <div class="navbar-branding dark bg-danger">
                <a class="navbar-brand" href="landing_page/index.html"> <b>S&P </b> <span>IR LIBRARY</span> </a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <span id="toggle_sidemenu_l" class="glyphicons glyphicons-show_lines"></span>
                </li>
                <li>
                    <a class="topbar-menu-toggle" href="#">
                        <span class="metro-icon glyphicons glyphicons-facetime_video fs16"></span>
                    </a>
                </li>
                <li class="hidden-xs">
                    <a class="request-fullscreen toggle-active" href="#">
                        <span class="octicon octicon-screen-full fs18"></span>
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left navbar-search ml5" role="search">
                <div class="form-group">
                    <!--<input type="text" class="form-control" ng-model='searchText2' placeholder="Search..." value="">
                    <button type="button" ng-click="myfilter = searchText2">Search</button>-->
                    
                    <input type="text" class="form-control" ng-model='searchText' placeholder="Search Razor Tricks..." value="">
                </div>
            </form>
        </header>
        <!-- End: Header -->

        <!-- Start: Sidebar -->
        <aside id="sidebar_left" class="nano nano-primary">
            <div class="nano-content">
                <!-- sidebar menu -->
                <ul class="nav sidebar-menu" style="margin-top:15px;">
                    <li class="active">
                        <a href="razor_library.html">
                            <span class="imoon imoon-file-css"></span>
                            <span class="sidebar-title">Razor Tricks</span>
                        </a>
                    </li>
                    <li>
                        <a href="your_assistant.html">
                            <span class="glyphicons glyphicons-user"></span>
                            <span class="sidebar-title">Your Assistant</span>
                        </a>
                    </li>
                    <li>
                        <a href="proxy_library.html">
                            <span class="glyphicons glyphicons-settings"></span>
                            <span class="sidebar-title">Proxy Library</span>
                        </a>
                    </li>
                    <li>
                        <a href="ada_library.html">
                            <span class="imoon imoon-insert-template"></span>
                            <span class="sidebar-title">ADA Library</span>
                        </a>
                    </li>
                    <li>
                        <a href="jquery_plugin_library.html">
                            <span class="imoon imoon-file-xml"></span>
                            <span class="sidebar-title">Jquery Templates</span>
                        </a>
                    </li>
                    <li>
                        <a href="highchart_library.html">
                            <span class="fa fa-area-chart fa-lg"></span>
                            <span class="sidebar-title">Highchart Library</span>
                        </a>
                    </li>
                    <li>
                        <a href="maps_basic.html">
                            <span class="fa fa-map-marker fa-lg"></span>
                            <span class="sidebar-title">Google Maps</span>
                        </a>
                    </li>
                    <li>
                        <a href="toolkits_library.html">
                            <span class="fa fa-cogs"></span>
                            <span class="sidebar-title">IR Toolkits</span>
                        </a>
                    </li>

                </ul>
                <div class="sidebar-toggle-mini">
                    <a href="#">
                        <span class="fa fa-sign-out"></span>
                    </a>
                </div>
            </div>
        </aside>
        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">

            <!-- Start: Topbar-Dropdown -->
            <div id="topbar-dropmenu">
                <div class="topbar-menu row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="promo_video_wrap">
                            <div class="promo_video">
                                <video width="100%" height="100%" controls poster="landing_page/img/transparent.PNG">
      <source src="landing_page/img/s&p_ir_library_video.mp4"  type="video/mp4">
    Your browser does not support the video tag.
    </video>
    </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Topbar-Dropdown -->
            <div class="loader" style="z-index: 999999; position:absolute; height:100vh; width:100%; background:#fff;">
                <img src="assets/img/loader_2.gif" style="position:absolute; width:50px; height:50px; left:0px; right:0px; top:0px; bottom:0px; margin:auto;" />
            </div>
            <!-- Start: Topbar -->
            <header id="topbar">
                <div class="topbar-left">
                    <ol class="breadcrumb">
                        <li class="crumb-icon">
                            <a href="dashboard.html">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li class="crumb-active">
                            <a href="#">Razor Tricks</a>
                        </li>

                    </ol>
                </div>
            </header>
            <!-- End: Topbar -->

            <!-- Begin: Content -->
            <section id="content" class="table-layout">

                <div id="listId" class="tray tray-center pn va-t bg-white">
                    <ul class="razor_tricks content">

                        
                        
                        
                        <!--<li>
                            <div class="message-view">
                                <div class="message-meta">
                                    <p class="index">{{$index+1}}</p>
                                    <h3 class="subject">Google Chrome Browser Print Issue</h3>
                                    <div class="referenceKI">
                                        <span class="ki copylink" data-toggle="tooltip" data-placement="left" title="Click to Copy!!!" data-clipboard-action="copy" data-clipboard-snippet><i class="fa fa-link"></i></span>
                                        <a ng-hide="filed.referencelink == ''" href="{{filed.referencelink}}">http://snl.com/IRW/CommitteeChart/4088372</a>
                                        <span class="ki">KI: 4088372</span>
                                    </div>
                                </div>
                                <div class="message-body">
                                	<form  class="codeform">
                                                    <span data-toggle="tooltip" data-placement="left" title="Click to Copy!!!" data-clipboard-action="copy" class="clipboardbtn" data-clipboard-snippet><i class="imoon imoon-paste2" ></i></span>
                                                     <textarea class="code-razor">
                                                     
                                                     </textarea>
                                    </form>
                                </div>
                                <textarea ng-hide="filed.searchtxt == ''" style="display:none;"></textarea>
                            </div>
                        </li>-->
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        <li ng-repeat="filed in fields  | filter:searchText" ng-if="filed.title != '' || filed.content != ''">
                            <!-- message view -->
                            <div class="message-view">

                                <!-- message meta info -->
                                <div ng-if="filed.title != '' || filed.referencelink != '' || filed.KI != ''" class="message-meta">
                                    <p class="index"><span ng-if="filed.person != ''">By: <b>{{filed.person}}</b></span> {{$index+1}}</p>
                                    <h3 ng-if="filed.title != ''" class="subject">{{filed.myindex}}. <span>{{filed.title}}</span></h3>
                                    <div class="referenceKI" ng-if="filed.referencelink != '' || filed.KI != ''">
                                        <span ng-if="filed.referencelink != ''" class="ki copylink" data-toggle="tooltip" data-placement="left" title="Click to Copy!!!" data-clipboard-action="copy" data-clipboard-snippet><i class="fa fa-link"></i></span>
                                        <a ng-if="filed.referencelink != ''" href="{{filed.referencelink}}"><i>{{filed.referencelink}}</i></a>
                                        <span class="ki myki" ng-if="filed.KI != ''">KI: {{filed.KI}}</span>
                                    </div>
                                </div>
                                <div class="message-body" ng-if="filed.content != ''" ng-bind-html="filed.content"></div>
                                <textarea ng-if="filed.searchtxt != ''" style="display:none;">{{filed.searchtxt}}</textarea>

                                <!-- message footer -->

                            </div>
                        </li>
                    </ul>
                     <div class="page_navigation"></div>
                    <div class="fontcontrol2">
                        <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        <span class="default">A<small>A</small></span>
                        <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                    </div>
					<div class="col-xs-12 info_text"></div>
                </div>

            </section>
            <!-- End: Content -->

        </section>

    </div>
    <!-- End: Main -->

    <!-- BEGIN: PAGE SCRIPTS -->

    <!-- jQuery -->
    <script type="text/javascript" src="vendor/jquery/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="assets/js/bootstrap/bootstrap.min.js"></script>

    <!-- Theme Javascript -->
    <script type="text/javascript" src="assets/js/utility/utility.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/demo.js"></script>
    <!-- code mirror js -->
    <script src="codemirror/js/codemirror.js"></script>
    <script src="codemirror/js/xml.js"></script>
    <script src="codemirror/js/javascript.js"></script>
    <script src="codemirror/js/css.js"></script>
    <script src="codemirror/js/active-line.js"></script>
    <script src="codemirror/js/matchbrackets.js"></script>
    <script src="codemirror/js/multiplex.js"></script>
    <script src="codemirror/js/htmlembedded.js"></script>
    <script src="codemirror/js/htmlmixed.js"></script>
    <script src="codemirror/js/fullscreen.js"></script>
    <script src="codemirror/js/activebookmark.js"></script>
    <script src="codemirror/js/clike.js"></script>
    <script src="codemirror/js/formatting.js"></script>
    <script src="https://cdn.rawgit.com/angular-ui/ui-codemirror/v0.2.3/ui-codemirror.js"></script>

    <!-- copy to clipboard js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
    <script src="assets/js/pages/razor_tricks/jquery.pajinate.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            "use strict";

            // Init Theme Core    
            Core.init();
// Init Theme Core    
            Demo.init();
           
           $(document).on("click",".topbar-menu-toggle,.metro-modal",function(){
			   $(".promo_video video").get(0).pause();
			});

            /*-----------codemirror-------------------------*/
            var configoption, configjs, confightml, configcss, configrazor, editor;
            configoption = {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                mode: "javascript",
                theme: "ambiance",
                extraKeys: {
                    "F11": function(cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function(cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                }
            };
            configjs = {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                mode: "htmlmixed",
                extraKeys: {
                    "F11": function(cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function(cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                }
            };
            confightml = {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                mode: "htmlmixed",
                extraKeys: {
                    "F11": function(cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function(cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                }
            };
            configrazor = {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                mode: "text/x-scala",
                extraKeys: {
                    "F11": function(cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function(cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                }
            };
            configcss = {
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                mode: "css",
                extraKeys: {
                    "F11": function(cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function(cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                }
            };
            function codemirrorapply() {
                $('.code-html').each(function (index) {
                    if (!$(this).hasClass("activecodemirror")) {
                        $(this).attr('id', 'code-html' + index);
                        editor = CodeMirror.fromTextArea(document.getElementById('code-html' + index), confightml);
                        $(this).addClass("activecodemirror");
                    }
                    

                });
                $('.code-css').each(function (index) {
                    if (!$(this).hasClass("activecodemirror")) {
                        $(this).attr('id', 'code-css' + index);
                        editor = CodeMirror.fromTextArea(document.getElementById('code-css' + index), configcss);
                        $(this).addClass("activecodemirror");
                    }
                });
                $('.code-razor').each(function (index) {
                    if (!$(this).hasClass("activecodemirror")) {
                        $(this).attr('id', 'code-razor' + index);
                        editor = CodeMirror.fromTextArea(document.getElementById('code-razor' + index), configrazor);
                        $(this).addClass("activecodemirror");
                    }
                });
                $('.code-js').each(function (index) {
                    if (!$(this).hasClass("activecodemirror")) {
                        $(this).attr('id', 'code-js' + index);
                        editor = CodeMirror.fromTextArea(document.getElementById('code-js' + index), configjs);
                        $(this).addClass("activecodemirror");
                    }
                });
                //$('.code-option').each(function (index) {
                //    $(this).attr('id', 'code-option' + index);
                //    editor = CodeMirror.fromTextArea(document.getElementById('code-option' + index), configoption);

                //});
            }
            codemirrorapply();

            /*-----------copy to clipboard-------------------------*/
            new Clipboard('.clipboardbtn,.copylink', {
                target: function(trigger) {
                    $(".clipboardbtn").removeClass("copied")
                    $(trigger).addClass("copied")
                    $(".tooltip .tooltip-inner").text("Copied!!")
                    return trigger.nextElementSibling;
                }
            });
            /*-----------codemirror for hidden content-------------------------*/
            $(".temp_display").removeClass("temp_display");
            /*-----------Pagination js-------------------------*/
            function pagination(target) {
                $(target).pajinate({
                    nav_label_prev: '<i class="fa fa-angle-double-left"></i>',
                    nav_label_next: '<i class="fa fa-angle-double-right"></i>',
                    num_page_links_to_display: '4',
                    show_first_last: true,
                    show_paginate_if_one: false,
                    items_per_page: '5',
                    nav_label_info: 'Displaying {0} to {1} (of {2} releases)',
                });
            }
            pagination('#listId');
            
            /*-----------Highlites text-------------------------*/
            function highlitedsearch(target, inputsearch) {
                /* filter products */
                $(target + " em").contents().unwrap();
                var string = $(inputsearch).val();
                if (string.length > 0 && string != ".") {
                    var search_regexp = new RegExp(string, "ig");
                    $(target + " .message-meta > p span b").each(function () {
                        var newhtml = $(this).html().replace(search_regexp, function myFunction(x) { return "<em>" + x + "</em>"; })
                        $(this).html(newhtml);
                    });
                    $(target + " h3.subject span").each(function () {    
                        var newhtml = $(this).html().replace(search_regexp, function myFunction(x) { return "<em>" + x + "</em>"; })
                        $(this).html(newhtml);
                    });
                    $(target + " .referenceKI a i").each(function () {
                        var newhtml2 = $(this).html().replace(search_regexp, function myFunction2(x) { return "<em>" + x + "</em>"; })
                        $(this).html(newhtml2);
                    });

                    $(target + " .referenceKI span.myki").each(function () {
                        var newhtml3 = $(this).html().replace(search_regexp, function myFunction3(x) { return "<em>" + x + "</em>"; })
                        $(this).html(newhtml3);
                    });
					if(string !== "&" && string !== "t" && string !== "l" && string !== "g" &&  string !== ";" && string !== "lt" && string !== "&;" && string !== "t;" && string !== "&lt;" && string !== "&gt;" && string !== "gt;" && string !== "lt;" && string !== "&g"){
						$(target + " .message-body span[role='presentation'] span").each(function () {
							var newhtml4 = $(this).html().replace(search_regexp, function myFunction4(x) { return "<em>" + x + "</em>"; })
							$(this).html(newhtml4);
						});
					}
                    $(target + " .message-body p:not(:has(a))").each(function () {
                        var newhtml5 = $(this).html().replace(search_regexp, function myFunction5(x) { return "<em>" + x + "</em>"; })
                        $(this).html(newhtml5);
                    });

                    $(target + " .message-body a").each(function () {
                        var newhtml5 = $(this).html().replace(search_regexp, function myFunction5(x) { return "<em>" + x + "</em>"; })
                        $(this).html(newhtml5);
                    });
                }
            } 

            $("input[ng-model='searchText']").on("keyup click input", function() {
                $('#listId li').show();
                /*-----------copy to clipboard-------------------------*/
                new Clipboard('.clipboardbtn,.copylink', {
                    target: function(trigger) {
                        $(".clipboardbtn").removeClass("copied")
                        $(trigger).addClass("copied")
                        $(".tooltip .tooltip-inner").text("Copied!!")
                        return trigger.nextElementSibling;
                    }
                });

                var Tooltips = $("[data-toggle=tooltip]");

                // Init Bootstrap tooltips, if present 
                if (Tooltips.length) {
                    if (Tooltips.parents('#sidebar_left')) {
                        Tooltips.tooltip({
                            container: $('body'),
                            template: '<div class="tooltip tooltip-white" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                        });
                    } else {
                        Tooltips.tooltip();
                    }
                }

                codemirrorapply();

                pagination('#listId');


                highlitedsearch(".razor_tricks li", "input[ng-model='searchText']");


            });


            var fontsize = 13;
            var defaultfontsize = 13;
            $(".fontcontrol2 span").click(function () {
                if ($(this).hasClass("default")) {
                    fontsize = defaultfontsize;
                    $(".razor_tricks").css("font-size", defaultfontsize + "px")
                }
                else if ($(this).hasClass("plus")) {
                    fontsize++;
                    $(".razor_tricks").css("font-size", fontsize + "px")
                }
                else if ($(this).hasClass("minus")) {
                    fontsize--;
                    $(".razor_tricks").css("font-size", fontsize + "px")
                }
            })


            $(".loader").hide();
        });
    </script>
    <!-- END: PAGE SCRIPTS -->

</body>

</html>