.top_selector a .panel  *,.top_selector a{text-decoration:none !important; color:#fff;} 
.top_selector a{display:block;}
.top_selector a .panel{border-bottom: 3px solid rgba(0, 0, 0, 0.2); border-bottom: 3px solid rgba(0, 0, 0, 0.2);}

.temp_display .tab-pane,.temp_display .panel-collapse{display:block;}

.clipboardbtn{position: absolute;
    right: 13px;
    bottom: 24px;
    cursor: pointer;
    z-index: 999;
    color: #000;
    font-size: 18px;}
.clipboardbtn.sucess{color:#090;}

html body .code-razor,html body .code-css,html body .code-razor{display:block !important; height: 0px;

    overflow: hidden;
    position: absolute;
    z-index: -44;}
	
	.top_selector a{position:relative;}
.panel-body .panel-body,.accordion .panel-body{padding:0px;}	
	
	
	
	
	
.chartpanel,.chartpanel .panel{padding:0px !important; margin:0px; !important; border:0px;}
.tooltip{text-align:right !important;}

.referenceKI{position: relative;
    padding: 5px;
    background: rgb(255, 255, 255);
    margin: 0 0px;
    color: #000;
	padding-left: 40px;
    padding-right: 100px;
    border: 1px solid #e4e4e4;}
.referenceKI a{ margin: 0px;
    display: inline-block;
    color: #000 !important;
    text-decoration: none !important;}
.referenceKI span{position: absolute;
    z-index: 999;
    color: #737373;
    height: 100%;
    background: #f1f1f1;
    padding: 5px 10px;
    right: 0px;
    top: 0px;
    font-weight: bold;
    text-align: center;}
	.referenceKI span.copylink{left:0px; right:auto; padding:0px;}
	.referenceKI span.copylink i{padding:8px 10px; cursor:pointer;}
	
	

	
	body.messages-page .message-view {
    padding:0 20px; padding-bottom:20px; box-shadow:none; transition:all ease 0.3s; -webkit-transition:all ease 0.3s; -moz-transition:all ease 0.3s; position:static; background:#fff;
}
body.messages-page section#content .tray{background:#000 !important;}
body.messages-page section#content .tray:hover .message-view{opacity:1;}
body.messages-page .message-view:hover{opacity:1 !important;}
body.messages-page.tray-rescale #content.table-layout .tray-center {
    padding-right: 0px !important;
}
body.messages-page .message-view .message-meta {background: rgba(241, 241, 241, 0.43);
    margin: 0 -20px;
    padding: 20px 20px;
    padding-bottom: 1px;
    margin-bottom: 20px;}
	
	.navbar-branding{text-align:center;}
	.navbar-branding .navbar-brand{float:none; display:block !important; padding:0px !important; margin:0px !important; font-size:20px !important;}
	body.sb-l-m .navbar-brand {
    display: block; background: #fff;
    color: #ec1b30 !important;
}
body.sb-l-m .navbar-brand span{
    display: none;
}
#sidebar_left{position:fixed !important}

.infotext{position: absolute;
    font-size: 12px;
    left: 35px;
    bottom: 4px;
    color: rgba(0, 0, 0, 0.45);
    z-index: 9;
    text-shadow: 0px 0px 2px #fff;}
	.codeform{position:relative;}
	
	.clipboardbtn{position: absolute !important;
    cursor: pointer;
    z-index: 999;position: absolute;
    font-size: 12px;
    right: 10px;
    bottom: 26px;
    color: #ccc !important;
    padding: 2px 2px;
    font-family: arial;
    font-size: 14px;
    line-height: 21px;;}
	.clipboardbtn i{ font-size: 16px; margin-left:0px;}
	.codeform textarea{display: block !important;
    height: 0px;
    overflow: hidden;
    position: absolute;
    z-index: -44; opacity:0;}
	.clipboardbtn.copied{color:#393 !important;}
	.codeform .tooltip{width:105px;}
	.codeform .tooltip-inner{background:none; padding:0px; color:#5a5a5a; border:0px; font-size:14px; text-align:right;}
	.codeform .tooltip-arrow{border:0px;}
	.bugbox{margin-bottom:15px;}
	.bugbox > .form-group{margin-bottom:2px !important;}
	.bug_commentbox{margin-bottom:15px;}
	.bug_commentbox p{margin-bottom:0px !important;}
	
	.addbutton{position: absolute;
    width: 50%;
    background: rgb(255, 255, 255);
    border: 0px;
    border-top: 3px solid #20af17;
    bottom: -20px;
    left: 0px;}
	.deletbutton{position: absolute;
    width: 50%;
    background: rgb(255, 255, 255);
    border: 0px;
    border-top: 3px solid #ec1b30;
    bottom: -20px;
    right: 0px;
    border-left: 1px solid #eee;}
	
	
	
	
	/*---------------------razor tricks------------------------------*/
	#sidebar_left {z-index: 99999999;}
	.razor_tricks {padding:0px; padding-bottom:65px; background:#fff; margin:0px;}
	.razor_tricks li{display:block; background:#000; transition:all ease 0.3s; -webkit-transition:all ease 0.3s; -moz-transition:all ease 0.3s; border-left:0px solid #fff;border-bottom: 2px solid #ffffff;
    border-top: 2px solid #f1f1f1; position:relative;}
	.razor_tricks li:hover{border-bottom: 2px solid #aaa;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.22);
    position: relative;
    border-top: 2px solid #aaa;}
	
	.razor_tricks li h3{    font-size: 25px !important;
    margin-bottom: 20px;}
	.razor_tricks li .referenceKI{margin-bottom:20px;}
	body.messages-page section#content .page_navigation{position:fixed; display:table; width:100%; text-align:center; right:0px; left:0px; margin:auto; z-index:999;}
	.page_navigation a{display:inline-block; padding:5px 10px; border:1px solid #eee; margin:0 3px; text-decoration:none;}
	.page_navigation a:hover{background:#eee; color:#5a5a5a;}
	.page_navigation a.active_page{color:#fff; background:#ec1b30;}
	.page_navigation a.no_more{opacity:0.7; background:#fff; color:#ccc; cursor:default;}
	.tooltip{z-index:99999999999999;}
	.info_text{position: fixed; display:inline-block;z-index: 9999999;
    bottom: 15px;
    right: 10px;
    width: auto; text-align:right;}
	.index{position:absolute; left:0px; top:0px; background: #f1f1f1;
    padding: 5px 10px;
    line-height: 15px;
    font-size: 12px;
    left: auto;
    right: 0px;
    z-index: 99;}
	.page_navigation {
    position: fixed;
    width: 100%;
    z-index: 999999;
    bottom: 0px;
    background: #fff;
    left: 0px;
    padding: 10px 0;
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
}
.promo_video_wrap{width:800px; max-width:100%; margin:0 auto; padding: 45px;}
#topbar-dropmenu{background-size:cover;}
.promo_video{position:relative; width:100%;
    padding-bottom: 56.3%;}
	.promo_video video{position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
	background-color:#fff;
    background:url(../../../../landing_page/img/poster.PNG) center; background-color:#fff;
    background-size: cover;}
.CodeMirror-fullscreen {
    z-index: 99999999999;
}
.navbar {
    z-index: 99999999999;
}
.bugbutton {
    margin: 0 -15px;
    margin-bottom:-20px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
#content .left_section .panel .panel-body {overflow:visible !important;
}

.bug_request {
    padding-bottom: 40px;
}
.bugbutton button {
    position: static !important;
    float: left;
}

.your_assistent .admin-form .panel-body {
    padding: 0px 15px;
    border: 0;
}
.your_assistent .admin-form .section-divider {
    height: 0;
    border-top: 1px solid #DDD;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}

.your_assistent .admin-form.bg-light .section-divider span, .your_assistent .admin-form .bg-light .section-divider span {
    background: #fafafa;
}
.your_assistent .admin-form .bg-light .redesign_request_setup_box .section-divider span {
    background: #fff;
}
.your_assistent .admin-form .section-divider span {
    display: inline-block;
    position: relative;
    padding: 0 17px;
    background: #e9e9e9;
    color: #999;
    top: -11px;
    font-size: 15px;
}
.your_assistent .admin-form .section-divider .form-group {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: -13px;
}
body.sb-l-m .sidebar-menu > li.active > a > span:nth-child(1) {
    color: #ec1b30;
}
.your_assistent .clipboardbtn {
    bottom: -2px !important;
    right: 4px !important;
}
.your_assistent .switch label{margin:0px;}
.your_assistent .switch {
    padding-right: 10px;
    background: #fafafa;
    border-right: 1px solid #fafafa;
}
.your_assistent .redesign_request_setup_box .switch {
    padding-right: 10px;
    background: #fff;
    border-right: 1px solid #fff;
}
.redesignbox{}

.panel_title{background: #000;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;}
	 
	 
	 .bug .panel_title{background: #ea7900;}
	.bug .panel_title{
    color: #fff;}
	.normal .panel_title{background: #0000cc;}
	.normal .panel_title{
    color: #fff;}
.radio-custom label {
    padding-left: 26px;
    margin-right: 0px;
    font-size: 13px;
}
.index span {
    border-right: 5px solid #f9f9f9;
    margin-top: -5px;
    display: inline-block;
    padding: 10px;
    margin-bottom: -5px;
    margin-left: -10px;
    margin-right: 8px;
    line-height: 13px;
    background: #f9f9f9;
}


.redesign_request_setup_box {
    padding: 20px;
    border: 1px solid #eee;
    background: #fff;
    transition: all ease 0.3s;
    box-shadow: none;
}
.redesign_request_setup_box:hover {
    box-shadow: 0px 0px 53px #eee;
}
.redesign_request .panel-body {
    padding: 0px;
}
    .redesign_request .panel-body pre {
        background-color: #fff;
        border: 0px solid #cbd6d652;
        padding: 15px;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.8);
        margin: 0px;
        max-height: 832px !important;
        width: 100%;
    }
.redesignbox pre div[ng-if] {padding-bottom:10px !important;
}
.redesignbox pre div[ng-if*="proxy"] {
    border-right: 5px solid transparent; padding-right:10px !important;
}
    .redesignbox pre div[ng-if*="proxy"]:hover {
        border-right: 5px solid rgba(0, 0, 0, 0.1);
    }
.rezor_top {
    background:url(../../../img/pattern.png) repeat;
    margin: -15px;
    padding: 15px;
    padding-top: 0px;
    margin-top: -35px;
}

.redesignbox pre div[ng-if="layout_gacode"], .radio-custom input[type=checkbox]:checked + label[for="layout_gacode"],
.redesignbox pre div[ng-if="CP_EVENT"], .radio-custom input[type=checkbox]:checked + label[for="CP_EVENT"] {
    color: #00a7f1;
}
    .radio-custom input[type=checkbox]:checked + label[for="layout_gacode"]:before, input[ng-model='layout_gacode_text'],
    .radio-custom input[type=checkbox]:checked + label[for="CP_EVENT"]:before, input[ng-model='CP_EVENT'] {
        border-color: #00a7f1 !important;
    }

    .radio-custom input[type=checkbox]:checked + label[for="layout_gacode"]:after,
    .radio-custom input[type=checkbox]:checked + label[for="CP_EVENT"]:after {
        background-color: #00a7f1;
    }

.redesignbox pre div[ng-if="Breadcrumb"], .radio-custom input[type=checkbox]:checked + label[for="Breadcrumb"],
.redesignbox pre div[ng-if="market_values"], .radio-custom input[type=checkbox]:checked + label[for="market_values"],
.redesignbox pre div[ng-if="CP_Company_Description"], .radio-custom input[type=checkbox]:checked + label[for="CP_Company_Description"] {
    color: #a75309;
}
    .radio-custom input[type=checkbox]:checked + label[for="Breadcrumb"]:before,
    .radio-custom input[type=checkbox]:checked + label[for="market_values"]:before,
    .radio-custom input[type=checkbox]:checked + label[for="CP_Company_Description"]:before {
        border-color: #a75309;
    }
.radio-custom input[type=checkbox]:checked + label[for="Breadcrumb"]:after,
.radio-custom input[type=checkbox]:checked + label[for="market_values"]:after,
.radio-custom input[type=checkbox]:checked + label[for="CP_Company_Description"]:after {
    background-color: #a75309;
}

.redesignbox pre div[ng-if="Copyright"], .radio-custom input[type=checkbox]:checked + label[for="Copyright"],
.redesignbox pre div[ng-if="market_graph"], .radio-custom input[type=checkbox]:checked + label[for="market_graph"],
.redesignbox pre div[ng-if="CP_Market_Summary"], .radio-custom input[type=checkbox]:checked + label[for="CP_Market_Summary"] {
    color: #008d8e;
}
    .radio-custom input[type=checkbox]:checked + label[for="Copyright"]:before,
    .radio-custom input[type=checkbox]:checked + label[for="market_graph"]:before,
    .radio-custom input[type=checkbox]:checked + label[for="CP_Market_Summary"]:before {
        border-color: #008d8e;
    }

.radio-custom input[type=checkbox]:checked + label[for="Copyright"]:after,
.radio-custom input[type=checkbox]:checked + label[for="market_graph"]:after,
.radio-custom input[type=checkbox]:checked + label[for="CP_Market_Summary"]:after {
    background-color: #008d8e;
}

.redesignbox pre div[ng-if="noindex"], .radio-custom input[type=checkbox]:checked + label[for="noindex"],
.redesignbox pre div[ng-if="CP_Contact_Information"], .radio-custom input[type=checkbox]:checked + label[for="CP_Contact_Information"] {
    color: #048a1b;
}
    .radio-custom input[type=checkbox]:checked + label[for="noindex"]:before,
    .radio-custom input[type=checkbox]:checked + label[for="CP_Contact_Information"]:before {
        border-color: #048a1b;
    }

.radio-custom input[type=checkbox]:checked + label[for="noindex"]:after,
.radio-custom input[type=checkbox]:checked + label[for="CP_Contact_Information"]:after {
    background-color: #048a1b;
}

.redesignbox pre div[ng-if="IRSearch"], .radio-custom input[type=checkbox]:checked + label[for="IRSearch"],
.redesignbox pre div[ng-if="HardcodeIRSearch"], .radio-custom input[type=checkbox]:checked + label[for="HardcodeIRSearch"],
.redesignbox pre div[ng-if="CP_Webcast"], .radio-custom input[type=checkbox]:checked + label[for="CP_Webcast"] {
    color: #cc009e;
}
    .radio-custom input[type=checkbox]:checked + label[for="IRSearch"]:before,
    .radio-custom input[type=checkbox]:checked + label[for="HardcodeIRSearch"]:before,
    .radio-custom input[type=checkbox]:checked + label[for="CP_Webcast"]:before {
        border-color: #cc009e;
    }

    .radio-custom input[type=checkbox]:checked + label[for="IRSearch"]:after,
    .radio-custom input[type=checkbox]:checked + label[for="HardcodeIRSearch"]:after,
    .radio-custom input[type=checkbox]:checked + label[for="CP_Webcast"]:after {
        background-color: #cc009e;
    }

.redesignbox pre div[ng-if="Toolkit"], .radio-custom input[type=checkbox]:checked + label[for="Toolkit"], .radio-custom input[type=checkbox]:checked + label[for="hardcodedToolkit"],
.redesignbox pre div[ng-if="CP_PR"], .radio-custom input[type=checkbox]:checked + label[for="CP_PR"] {
    color: #0050cc;
}
    .radio-custom input[type=checkbox]:checked + label[for="Toolkit"]:before,
    .radio-custom input[type=checkbox]:checked + label[for="hardcodedToolkit"]:before,
    .radio-custom input[type=checkbox]:checked + label[for="CP_PR"]:before {
        border-color: #0050cc;
    }

.radio-custom input[type=checkbox]:checked + label[for="Toolkit"]:after,
.radio-custom input[type=checkbox]:checked + label[for="hardcodedToolkit"]:after,
.radio-custom input[type=checkbox]:checked + label[for="CP_PR"]:after {
    background-color: #0050cc;
}




.redesignbox pre div[ng-if="layout_proxy_Marketsummary"] {
    background: rgba(0, 252, 255, 0.1);
    margin: 0 -15px;
    padding: 0 15px;
}
.radio-custom input[type=checkbox]:checked + label[for="layout_proxy_Marketsummary"]:before {
    box-shadow: 0px 0px 8px 2px rgba(0, 252, 255, 0.2);
    background: rgba(0, 252, 255, 0.1);
}


.redesignbox pre div[ng-if="layout_proxy_Contact"] {
    background: rgba(0, 255, 10, 0.1);
    margin: 0 -15px;
    padding: 0 15px;
}
.radio-custom input[type=checkbox]:checked + label[for="layout_proxy_Contact"]:before {
    box-shadow: 0px 0px 8px 2px rgba(0, 255, 10, 0.2);
    background: rgba(0, 255, 10, 0.1);
}


.redesignbox pre div[ng-if="layout_proxy_Event"],
.redesignbox pre div[ng-if="CP_proxy_Event"] {
    background: rgba(158, 97, 105, 0.1);
    margin: 0 -15px;
    padding: 0 15px;
}
.radio-custom input[type=checkbox]:checked + label[for="layout_proxy_Event"]:before,
.radio-custom input[type=checkbox]:checked + label[for="CP_proxy_Event"]:before {
    box-shadow: 0px 0px 8px 2px rgba(158, 97, 105, 0.2);
    background: rgba(158, 97, 105, 0.1);
}


.redesignbox pre div[ng-if="layout_proxy_PR"],
.redesignbox pre div[ng-if="CP_proxy_PR"] {
    background: rgba(255, 0, 0, 0.1);
    margin: 0 -15px;
    padding: 0 15px;
}
.radio-custom input[type=checkbox]:checked + label[for="layout_proxy_PR"]:before,
.radio-custom input[type=checkbox]:checked + label[for="CP_proxy_PR"]:before {
    box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.2);
    background: rgba(255, 0, 0, 0.1);
}


.redesignbox pre div[ng-if="layout_proxy_docs"],
.redesignbox pre div[ng-if="CP_proxy_docs"] {
    background: rgba(249, 255, 0, 0.1);
    margin: 0 -15px;
    padding: 0 15px;
}
.radio-custom input[type=checkbox]:checked + label[for="layout_proxy_docs"]:before,
.radio-custom input[type=checkbox]:checked + label[for="CP_proxy_docs"]:before {
    box-shadow: 0px 0px 8px 2px rgba(249, 255, 0, 0.2);
    background: rgba(249, 255, 0, 0.1);
}


.redesignbox pre div[ng-if="layout_proxy_cpheader"] {
    background: rgba(88, 0, 255, 0.1);
    margin: 0 -15px;
    padding: 0 15px;
}
.radio-custom input[type=checkbox]:checked + label[for="layout_proxy_cpheader"]:before {
    box-shadow: 0px 0px 8px 2px rgba(88, 0, 255, 0.2);
    background: rgba(88, 0, 255, 0.1);
}


.redesignbox pre div[ng-if="layout_proxy_QuarterlyResults"],
.redesignbox pre div[ng-if="CP_proxy_QuarterlyResults"] {
    background: rgba(6, 161, 255, 0.14);
    margin: 0 -15px;
    padding: 0 15px;
}
.radio-custom input[type=checkbox]:checked + label[for="layout_proxy_QuarterlyResults"]:before,
.radio-custom input[type=checkbox]:checked + label[for="CP_proxy_QuarterlyResults"]:before {
    box-shadow: 0px 0px 8px 2px rgba(6, 161, 255, 0.3);
    background: rgba(6, 161, 255, 0.14);
}


.redesignbox pre div[ng-if="layout_proxy_Peer"],
.redesignbox pre div[ng-if="CP_proxy_Peer"] {
    background: rgba(255, 0, 198, 0.11);
    margin: 0 -15px;
    padding: 0 15px;
}
.radio-custom input[type=checkbox]:checked + label[for="layout_proxy_Peer"]:before,
.radio-custom input[type=checkbox]:checked + label[for="CP_proxy_Peer"]:before {
    box-shadow: 0px 0px 8px 2px rgba(255, 0, 198, 0.2);
    background: rgba(255, 0, 198, 0.11);
}


.redesignbox pre div[ng-if="layout_proxy_Presentations"],
.redesignbox pre div[ng-if="CP_proxy_Presentations"] {
    background: rgba(0, 218, 119, 0.1);
    margin: 0 -15px;
    padding: 0 15px;
}
.radio-custom input[type=checkbox]:checked + label[for="layout_proxy_Presentations"]:before,
.radio-custom input[type=checkbox]:checked + label[for="CP_proxy_Presentations"]:before {
    box-shadow: 0px 0px 8px 2px rgba(0, 218, 119, 0.2);
    background: rgba(0, 218, 119, 0.1);
}


.redesignbox pre div[ng-if="layout_proxy_custompage"],
.redesignbox pre div[ng-if="CP_proxy_custompage"] {
    background: rgba(0, 196, 218, 0.1);
    margin: 0 -15px;
    padding: 0 15px;
}
.radio-custom input[type=checkbox]:checked + label[for="layout_proxy_custompage"]:before,
.radio-custom input[type=checkbox]:checked + label[for="CP_proxy_custompage"]:before {
    box-shadow: 0px 0px 8px 2px rgba(0, 196, 218, 0.2);
    background: rgba(0, 196, 218, 0.1);
}


/* horizontal panel*/

.panel-container {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    /* avoid browser level touch actions */
    xtouch-action: none;
}

.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 10px;
    width: 50%;
    min-height: 200px;
    min-width: 150px;
    white-space: nowrap;
    background: #FAFAFA;
    color: white;
}

.splitter {
    flex: 0 0 auto;
    width: 15px;
    background: url(../../../img/vsizegrip.png) center center no-repeat #000;
    min-height: 200px;
    cursor: col-resize;
    position: relative;
    z-index:999999;
}

.panel-right {
    flex: 1 1 auto;
    /* resizable */
    padding: 10px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #fff;
    z-index: 999;
}

.panel-container > .col-md-6 {
    padding: 0px;
}

.redesignbox {
    margin: 0px !important;
}

    .redesignbox .panel-body {
        border: 0px;
    }

.your_assistent {
    padding: 20px 40px !important;
}
.loader_wrap {
    z-index: 9999999999 !important;
}
.hardcodedirsearch {
    margin-top: -13px;
    margin-left: 30px;
    font-size: 12px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    position: relative;
}
    .hardcodedirsearch:before {
        content: "";
        width: 15px;
        height: 2px;
        background: #ccc;
        position: absolute;
        left: -25px;
        top: 10px;
    }
    .hardcodedirsearch:after {
        content: "";
        width: 2px;
        height: 12px;
        background: #ccc;
        position: absolute;
        left: -25px;
        top: -1px;
    }
.your_assistent .redesign_request .form-group {
    margin-bottom: 10px;
    display: table;
}
.redesign_request {
    position: relative;
    overflow: hidden;
}

    
    .fontcontrol {
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        position: absolute;
        right: -50px;
        top: 50px;
        color: #000;
        z-index: 999;
        text-align: center;
        font-size: 14px;
    }
    .fontcontrol span {
        display: block;
        background: rgba(0, 0, 0, 0.0784313725490196);
        padding: 7px; cursor:pointer;
        font-weight:bold;
    }
    .fontcontrol span:hover {background:#000; color:#fff;
    }
    .fontcontrol span.default {
            margin: 1px 0;
        }
        .fontcontrol span.default small{font-size:63%;
        }
.redesign_request:hover .fontcontrol {
    right: 25px;
}

.fontcontrol2 {
    display: inline-block;
    position: fixed;
    z-index: 9999;
    bottom: 7px;
    margin-left: 10px;
    font-size: 12px;
}
.fontcontrol2 span {
    display: inline-block;
    background: rgba(0, 0, 0, 0.0784313725490196);
    padding: 7px;
    cursor: pointer;
    font-weight: bold;
}

    .fontcontrol2 span:hover {
        background: #000;
        color: #fff;
    }

    .fontcontrol2 span.default {
        margin: 1px 0;
    }

        .fontcontrol2 span.default small {
            font-size: 63%;
        }
        
        @media (max-width:1200px) {
                .your_assistent .admin-form .toggle_layout .section-divider span {
        font-size: 12px;
        float: right;
    }
    .panel_title {
        font-size: 11px;
    }

    .radio-custom label[for="hardcodedToolkit"] {
        font-size: 11px;
    }
    .razor_tricks li h3 {
        font-size: 20px !important;
        margin-bottom: 20px;
    }
    .index {
        padding: 0px 9px;
        line-height: 15px;
    }
        .index span {
            margin-top: 0px;
            padding: 6px;
            margin-bottom: 0px;
            margin-left: -9px;
            margin-right: 8px;
        }
    body.messages-page .message-view .message-meta {
        padding: 25px 20px;
        padding-bottom: 1px;
    }
}


@media (max-width:980px) {
    .navbar-branding .navbar-brand{font-size:16px !important;}

}
@media (min-width:767px) {
    .panel-container > .col-md-6 {
        height:auto !important
    }
}
    @media (max-width:767px) {
        .panel-container {
            flex-direction: column;
        }

        .splitter {
            flex: 0 0 auto;
            width: auto;
            flex: 0 0 auto;
            height: 18px !important;
            background: url(../../../img/hsizegrip.png) center center no-repeat #333;
            cursor: row-resize;
            min-height: 20px !important;
        }

        .panel-container > .col-md-6 {
            width: 100%;
            max-width: 100%;
            width: 100% !important
        }
    }

    @media (max-width:640px) {
    }

    @media (max-width:480px) {
    }



