.top_selector a .panel  *,.top_selector a{text-decoration:none !important; color:#fff;} 
.top_selector a{display:block;}
.top_selector a .panel{border-bottom: 3px solid rgba(0, 0, 0, 0.2); border-bottom: 3px solid rgba(0, 0, 0, 0.2);}

.temp_display .tab-pane,.temp_display .panel-collapse{display:block;}

.clipboardbtn{position: absolute;
    right: 13px;
    bottom: 24px;
    cursor: pointer;
    z-index: 999;
    color: #000;
    font-size: 18px;}
.clipboardbtn.sucess{color:#090;}

html body .code-razor,html body .code-css,html body .code-razor{display:block !important; height: 0px;

    overflow: hidden;
    position: absolute;
    z-index: -44;}
	
	.top_selector a{position:relative;}
.panel-body .panel-body,.accordion .panel-body{padding:0px;}	
	
	
	
	
	
.chartpanel,.chartpanel .panel{padding:0px !important; margin:0px; !important; border:0px;}
.tooltip{text-align:right !important;}

.referenceKI{position: relative;
    padding: 5px;
    background: rgb(255, 255, 255);
    margin: 0 0px;
    color: #000;
	padding-left: 40px;
    padding-right: 100px;
    border: 1px solid #e4e4e4;}
.referenceKI a{ margin: 0px;
    display: inline-block;
    color: #000 !important;
    text-decoration: none !important;}
.referenceKI span{position: absolute;
    z-index: 999;
    color: #737373;
    height: 100%;
    background: #f1f1f1;
    padding: 5px 10px;
    right: 0px;
    top: 0px;
    font-weight: bold;
    text-align: center;}
	.referenceKI span.copylink{left:0px; right:auto; padding:0px;}
	.referenceKI span.copylink i{padding:8px 10px; cursor:pointer;}
	
	

	
	body.messages-page .message-view {
    padding:0 20px; padding-bottom:20px; box-shadow:none; transition:all ease 0.3s; -webkit-transition:all ease 0.3s; -moz-transition:all ease 0.3s; position:static; background:#fff;
}
body.messages-page section#content .tray{background:#000 !important;}
body.messages-page section#content .tray:hover .message-view{opacity:1;}
body.messages-page .message-view:hover{opacity:1 !important;}
body.messages-page.tray-rescale #content.table-layout .tray-center {
    padding-right: 0px !important;
}
body.messages-page .message-view .message-meta {background: rgba(241, 241, 241, 0.43);
    margin: 0 -20px;
    padding: 20px 20px;
    padding-bottom: 1px;
    margin-bottom: 20px;}
	
	.navbar-branding{text-align:center;}
	.navbar-branding .navbar-brand{float:none; display:block !important; padding:0px !important; margin:0px !important; font-size:20px !important;}
	body.sb-l-m .navbar-brand {
    display: block; background: #fff;
    color: #ec1b30 !important;
}
body.sb-l-m .navbar-brand span{
    display: none;
}
#sidebar_left{position:fixed !important}

.infotext{position: absolute;
    font-size: 12px;
    left: 35px;
    bottom: 4px;
    color: rgba(0, 0, 0, 0.45);
    z-index: 9;
    text-shadow: 0px 0px 2px #fff;}
	.codeform{position:relative;}
	
	.clipboardbtn{position: absolute !important;
    cursor: pointer;
    z-index: 999;position: absolute;
    font-size: 12px;
    right: 10px;
    bottom: 26px;
    color: #ccc !important;
    padding: 2px 2px;
    font-family: arial;
    font-size: 14px;
    line-height: 21px;;}
	.clipboardbtn i{ font-size: 16px; margin-left:0px;}
	.codeform textarea{display: block !important;
    height: 0px;
    overflow: hidden;
    position: absolute;
    z-index: -44; opacity:0;}
	.clipboardbtn.copied{color:#393 !important;}
	.codeform .tooltip{width:105px;}
	.codeform .tooltip-inner{background:none; padding:0px; color:#5a5a5a; border:0px; font-size:14px; text-align:right;}
	.codeform .tooltip-arrow{border:0px;}
	.bugbox{margin-bottom:15px;}
	.bugbox > .form-group{margin-bottom:2px !important;}
	.bug_commentbox{margin-bottom:15px;}
	.bug_commentbox p{margin-bottom:0px !important;}
	
	.addbutton{position: absolute;
    width: 50%;
    background: rgb(255, 255, 255);
    border: 0px;
    border-top: 3px solid #20af17;
    bottom: -20px;
    left: 0px;}
	.deletbutton{position: absolute;
    width: 50%;
    background: rgb(255, 255, 255);
    border: 0px;
    border-top: 3px solid #ec1b30;
    bottom: -20px;
    right: 0px;
    border-left: 1px solid #eee;}
	
	
	
	
	/*---------------------razor tricks------------------------------*/
	#sidebar_left {z-index: 99999999;}
	.razor_tricks {padding:0px; padding-bottom:65px; background:#fff; margin:0px;}
	.razor_tricks li{display:block; background:#000; transition:all ease 0.3s; -webkit-transition:all ease 0.3s; -moz-transition:all ease 0.3s; border-left:0px solid #fff;border-bottom: 2px solid #ffffff;
    border-top: 2px solid #f1f1f1; position:relative;}
	.razor_tricks li:hover{border-bottom: 2px solid #aaa;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.22);
    position: relative;
    border-top: 2px solid #aaa;}
	
	.razor_tricks li h3{    font-size: 25px !important;
    margin-bottom: 20px;}
	.razor_tricks li .referenceKI{margin-bottom:20px;}
	body.messages-page section#content .page_navigation{position:fixed; display:table; width:100%; text-align:center; right:0px; left:0px; margin:auto; z-index:999;}
	.page_navigation a{display:inline-block; padding:5px 10px; border:1px solid #eee; margin:0 3px; text-decoration:none;}
	.page_navigation a:hover{background:#eee; color:#5a5a5a;}
	.page_navigation a.active_page{color:#fff; background:#ec1b30;}
	.page_navigation a.no_more{opacity:0.7; background:#fff; color:#ccc; cursor:default;}
	.tooltip{z-index:99999999999999;}
	.info_text{position: fixed; display:inline-block;z-index: 9999999;
    bottom: 15px;
    right: 10px;
    width: auto; text-align:right;}
	.index{position:absolute; left:0px; top:0px; background: #f1f1f1;
    padding: 5px 10px;
    line-height: 15px;
    font-size: 12px;
    left: auto;
    right: 0px;
    z-index: 99;}
	.page_navigation {
    position: fixed;
    width: 100%;
    z-index: 999999;
    bottom: 0px;
    background: #fff;
    left: 0px;
    padding: 10px 0;
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
}
.promo_video_wrap{width:800px; max-width:100%; margin:0 auto; padding: 45px;}
#topbar-dropmenu{background-size:cover;}
.promo_video{position:relative; width:100%;
    padding-bottom: 56.3%;}
	.promo_video video{position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
	background-color:#fff;
    background:url(../../../../landing_page/img/poster.PNG) center; background-color:#fff;
    background-size: cover;}
.CodeMirror-fullscreen {
    z-index: 99999999999;
}
.navbar {
    z-index: 99999999999;
}
@media (max-width:1200px){}
@media (max-width:980px){.navbar-branding .navbar-brand{font-size:16px !important;}}
@media (max-width:767px){}
@media (max-width:640px){}
@media (max-width:480px){}