body {
	font-family:"Source Sans Pro", sans-serif;
	letter-spacing:1px;
	line-height:22px;
}
a.view-demo {
	background-color:#333;
	color:#fff;
	padding:5px;
}
footer {
	background: #013565 none repeat scroll 0 0;
	border-bottom: 1px solid #fff;
	color: #fff;
	padding: 15px 0;
	margin-top:30px;
}
.fa.fa-download {
	margin-right:5px;
	margin-top:10px;
}
a.view-demo {
	background-color:#333;
	color:#fff;
	padding:5px;
}
footer {
	background: #013565 none repeat scroll 0 0;
	border-bottom: 1px solid #fff;
	color: #fff;
	padding: 15px 0;
	margin-top:30px;
}
a.white-button {
	color:#333 !important;
	text-decoration:none;
	border-radius:0px;
	text-transform:uppercase;
	font-size: 12px;
	letter-spacing:1px;
}
a.white-button:hover {
	color:#fff !important;
	text-decoration:none;
	background-color:#013565;
	border:1px solid #013565;
}
a.white-button.home {
	color:#fff !important;
	text-decoration:none;
	border-radius:0px;
	text-transform:uppercase;
	font-size: 12px;
	border:1px solid #fff;
	letter-spacing:1px;
	margin-top:0px;
}
a.white-button.home:hover {
	color:#fff !important;
	text-decoration:none;
	background-color:#013565;
	border:1px solid #013565;
	margin-top:0px;
}
a.carousel-button {
	color:#fff !important;
	text-decoration:none;
	border-radius:0px;
	text-transform:uppercase;
	font-size: 12px;
	letter-spacing:1px;
	border:1px solid #fff;
}
a.carousel-button:hover {
	color:#fff !important;
	text-decoration:none;
	background-color:#013565;
	border:1px solid #013565;
}
.hor_nav_menu {
	text-transform:uppercase;
	font-weight:normal;
	font-size:14px;
}
.btn-group-lg > .btn, .btn-lg {
	font-size:14px;
	background:none;
	margin-top:10px;
	padding:15px 25px;
	border:1px solid #013565;
	transition-property: all;
	color:#333;
 transition-duration: .5s;
	transition-timing-function: in;
}
.carousel-caption h4 {
	font-size: 40px;
	text-transform:uppercase;
}
pre {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	color: #333;
}
.owl-div {
	min-height:190px;
	background:#ffffff;
	margin-top:30px;
}
#bx-slider-top-right {
	margin-top:30px;
}
.page.inner.clearfix {
	background-color: #f9f9f9;
}
.prone > a {
	display: block;
	margin-bottom: 30px;
}
.panel {
	min-height:470px;
	border:0;
	box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
}
.inner #autoscroll_news.panel {
	min-height:230px;
	border:0;
	box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
}
.inner #news_simple_arrow .panel {
	min-height:230px;
}
#listId ul.content li {
	border-bottom: 1px solid #ccc;
	list-style: outside none none;
	margin: 2px 0;
	opacity: 1 !important;
	padding: 20px 0;
}
.owl-div-main .irwPRDate {
	margin-bottom:20px;
}
#section-content {
	margin-top:50px;
}
.inner .jumbotron p {
	font-size: 18px;
}
.white-button.btn-primary.focus, .white-button.btn-primary:focus {
	color:#fff;
	background:none;
}
.cpyright a {
	color: #fff;
}
@media (max-width: 768px) {
.irMenu-Button.btn.btn-primary.white-button {
 width: 100%;
}
.owl-div-main h3 {
 margin-top: 0px;
}
.btn-group-lg > .btn, .btn-lg {
 font-size:14px;
 background:none;
 margin-top:10px;
 padding:10px 10px;
 border:1px solid #013565;
 transition-property: all;
 color:#333;
 transition-duration: .5s;
 transition-timing-function: in;
 text-transform:none!important;
}
.carousel-caption {
 top:0%;
}
.carousel-caption h4 {
 font-size:20px;
}
.carousel-indicators {
 display:none;
}
#left-menu .irMenu-Button i.fa-bars {
 margin-right:5px;
}
}
 @media (max-width: 767px) {
 .code-block {
 width:82%;
 margin:auto;
}
.jumbotron h2 {
 width:82%;
 margin:auto;
}
}
