/*!
 * SNL IRW CSS Theme (http://snl.com)
 * Copyright 2014
 * Version 1.0
 * Based on Bootstrap 3.0.3 
 */
/*!
 * Client Name 	: SNL IR Solutions
 * KeyInst		: 4092187
*/

/*Custom Fonts*/
/*@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}*/

/***********************TYPOGRAPHY***********************/

#irwWrapper {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:14px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	margin-bottom:50px;
}
#irwWrapper a {
	color: #00A6FC;
	text-decoration: none;
}
#irwWrapper a:hover, #irwWrapper a:focus {
	color: #079DE0;
	text-decoration: none;
}
#irwWrapper a:focus {
	outline:none;
}
/*
// Contextual colors
*/
#irwWrapper .text-muted {
	color: #999999;
}
#irwWrapper .text-default {
	color: #333;
}
#irwWrapper .text-primary, .irwCopyright .text-primary {
	color: #00A6FC;
}
#irwWrapper .text-secondary {
	color:#DADBDA;
}
#irwWrapper a.text-primary:hover {
	color: #079DE0;
}
.irwCopyright a.text-primary:hover {
	color: #079DE0;
}
#irwWrapper .text-danger {
	color:#C40000;
}
/*
// Contextual backgrounds
*/
#irwWrapper .bg-primary, .irwCopyright .bg-primary, .scrollbar-handle {
	color: #fff;
	background-color: #013565;
}
#irwWrapper a.bg-primary:hover {
	background-color: #079DE0;
}
#irwWrapper .bg-light-blue {
	background-color:#30baf8;
	color:#fff;
}
#irwWrapper .bg-dark-blue {
	background-color:#0098F9;
	color:#fff;
}
#irwWrapper .bg-dark-grey {
	background-color:#6D6E72;
	color:#fff;
}
#irwWrapper .bg-light-blue a, #irwWrapper .bg-dark-grey a, #irwWrapper .bg-light-blue a:hover, #irwWrapper .bg-dark-grey a:hover, #irwWrapper .bg-dark-blue a, #irwWrapper .bg-dark-blue a:hover {
	color:#fff;
}
#irwWrapper .btn-primary {
	color: #ffffff;
	background: #00A6FC;
	border-color: #00A6FC;
	color: white;
}
#irwWrapper .btn-primary:hover, #irwWrapper .btn-primary:focus, #irwWrapper .btn-primary:active, #irwWrapper .btn-primary.active, #irwWrapper .open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #2BA6E9;
	border-color: #2BA6E9;
}
#irwWrapper .panel-default > .panel-heading, #irwWrapper .nav-tabs > li > a .tab-pointer {
	color:#013565;
}
#irwWrapper .irwTable .irwTableHeader, #irwWrapper .gridPR .irwTableRowItem .irwPRSummary, #irwWrapper .gridPR .irwTableRowItem:hover, #irwWrapper .panel-default > .panel-heading-Select {
	background-color:#013565;
	color:#fff;
}
#irwWrapper .panel-default > .panel-heading-Select a:hover, #irwWrapper .panel-default > .panel-heading-Select a:focus, #irwWrapper .panel-default > .panel-heading-Select a:active {
	color:#fff;
}
/*
// IRW Structure Overwrites
// --------------------------------------------------
*/
#irwWrapper .row-margin {
	margin-bottom:15px;
}
#irwWrapper .irwTile, #irwWrapper .irwTile2 {
	min-height:267px;
	padding:15px;
}
#irwWrapper .irwTile2 {
	min-height:549px;
	padding:6px 0 0
}
#irwWrapper .irwTileNegMargin {
	margin-left:-15px;
}
#irwWrapper .irwTile h6, #irwWrapper .irwTile h5, #irwWrapper .irwTile2 h4 {
	margin:0;
	padding:0;
}
#irwWrapper .irwTile h6 {
	margin-bottom:40px;
}
#irwWrapper .irwItemDate {
	color:#CBEEFD;
	margin-bottom:15px;
}
#irwWrapper .irwItemTitle, #irwWrapper .irwItemTitle a {
	color:#fff;
	font-size:16px;
	text-decoration:none;
}
#irwWrapper #map_canvas.map {
	width:100%;
	height:176px;
}
#irwWrapper .irwSNLOne {
	background:url('images/img-1.jpg') no-repeat top right;
	background-size: cover !important;
}
 @media (max-width: 768px) {
 #irwWrapper .irwTileNegMargin {
margin-left:0;
}
 #irwWrapper #map_canvas.map {
width:100%;
height:176px;
margin-bottom:15px;
}
}
@media (max-width: 1024px) {
 #irwWrapper .irwTile h6 {
margin-bottom:20px;
}
 #irwWrapper .irwTileNegMargin {
margin-left:0;
}
}
h1, h2, h3, h4, h5, h6 {
	letter-spacing:1px;
	line-height:1.5;
}
/*
// IRW Tabs
// --------------------------------------------------
*/
#item-1 {
	background-image: url(../images/image-1.jpg);
}
.home-slider .carousel-inner > .item {
	background-color: #f6f6f6;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover !important;
	height: 328px;
	overflow: hidden;
	padding: 40px 0 0;
}
.header {
	background: #013565 none repeat scroll 0 0;
	border-bottom: 1px solid #fff;
	color: #fff;
	padding: 15px 0;
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}
#irwWrapper .irwTabs {
	border:none;
	border-top:8px solid #013565;
	background-color:#013565;
	border-radius: 4px 4px 0 0;
}
#irwWrapper .irwTabs ul {
	margin-left:-10px;
}
#irwWrapper .irwTabs ul li a {
	background-color: #013565;
	color:#e5e5e5;
}
#irwWrapper .irwTabs ul li a:hover, #irwWrapper .irwTabs ul li.active a {
	color:#fff;
	text-decoration:none;
}
#irwWrapper .irwTabs ul li.active a {
	background-color:#fff;
	color:#5B481D;
	border-radius: 4px 4px 0 0;
}
/* --Mobile View-- */
#irwWrapper .irwTabs .form-group.visible-xs {
	margin-left:0px !important;
	margin-top:5px;
	margin-bottom:10px;
}
#irwWrapper .irwTabs .form-group.visible-xs label {
	color:#fff;
}
/**/
#irwWrapper .irwSwitch ul li a span.fa {
	font-size:14px;
}
#irwWrapper .irwTableRowItem ul li a:hover, #irwWrapper .irwTableRowItem ul li.active a, .ui-datepicker .ui-datepicker-title {
	color:#079DE0;
}
#irwWrapper .irwTableRowItem h6, #irwWrapper .irwTableRowItem ul li {
	font-size:12px;
}
#irwWrapper .ui-widget {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
#irwWrapper .meter {
	background-color:#ccc;
}
h1.irwTitle, #irwWrapper h1:not(.irwFilePageH1) {
display:none;
} /*Supimagesss Title on IR Pages*/
/*Supimagesss FAQ extra paragraphs*/
.irwDivFaqs .scrollbar-content p, .irwDivFaqs p {
	display:none;
}
.irwDivFaqs .scrollbar-content {
	width:100%;
}
.irwDivFaqs .scrollbars {
	height:172px !important;
}
/*Stock Chart Config Menu */
#irwWrapper .irwConfigMenuWrapper {
	z-index:1029;
}
#irwWrapper .nav-tabs > li.active > a, #irwWrapper .nav-tabs > li.active > a:hover, #irwWrapper .nav-tabs > li.active > a:focus, .mCS-bootstrap-thin >.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-bootstrap-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, #irwWrapper #irwTabsEvent {
	background-color:#013565;
}
/**/
#irwWrapper .irwNote {
	border-bottom-color:#013565;
}
#irwWrapper .irwFilingHighlightItem {
	border-left-color:#013565;
}
/*Market Summary Overwrites*/
#irwWrapper .irwMarketSnapshot #stockchart {
	height:240px;
}
#irwWrapper .irwMarketSnapshot.bg-primary, #irwWrapper .irwMarketSnapshot .irwBoxBody {
	background-color:transparent;
}
#irwWrapper .irwMarketSnapshot .irwBoxWrapper.border-primary {
	margin-left:0;
}
#irwWrapper .irwMarketSnapshot .irwBoxWrapper, #irwWrapper .irwMarketSnapshot .irwBoxBodyItem {
	border:0;
	color:#FCFCFC;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	z-index:2030;
}
.navbar-collapse.collapse {
	position:relative;
}
.nav.navbar-nav.navbar-right.middle-menu.pull-right {
	position:absolute;
	right:15px;
}
/**Common CSS**/
h2 {
	margin-top:0;
}
h3 {
}
.padding {
	padding-top:10px;
	padding-bottom:10px;
}
/**Company Description Section CSS**/
.company-desc {
}
/**News Section CSS**/
.panel ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
.news-item {
	padding:4px 4px;
	margin:0px;
	border-bottom:1px dotted #555;
}
/**Banner Slider**/
.carousel-inner > .item {
	height:auto;
}
a.carousel-control {
	color:#fff;
}
/**Back to Top Css**/
a.scrollToTop {
	bottom: 30px;
	color: #999;
	display: none;
	font-size: 40px;
	font-weight: bold;
	height: 36px;
	/*padding: 10px;*/
    position: fixed;
	right: 30px;
	text-align: center;
	text-decoration: none;
	width: 36px;
}
/**imagesss Release Scrollers**/
.bx-wrapper .bx-viewport {
	background:#fff;
	left:0;
}
/*.owl-buttons div.owl-next i.fa.fa-chevron-circle-right, .owl-buttons div.owl-imagesv i.fa.fa-chevron-circle-left {
	font-size:20px;
	}*/
/*.bx-wrapper a.bx-next, .bx-wrapper a.bx-imagesv {
	color:#000;
	opacity:0.5;
}*/
.panel-default > .panel-heading {
	background:#fff;
}
.panel-footer {
	background:#fff;
}
.panel-body table {
	margin-bottom:10px;
	margin-top:10px;
}
/*Pagination CSS*/
.page_navigation a {
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #fff;
	border-color: #ccc;
	color: #333;
	margin-bottom: 5px;
	margin-right:5px;
	text-decoration:none !important;
}
.page_navigation a:hover, .page_navigation a.active_page:hover {
	text-decoration:none !important;
}
.page_navigation a.active_page {
	background: #0062a0 !important;
	border-color:#0062a0 !important;
	color: #ffffff !important;
	text-decoration:none !important;
}
.page_navigation {
	margin: 30px 0px 50px;
	text-align:center;
}
.page_navigation span.ellipse {
	display:none !important;
}
ul.content li {
	opacity:1 !important;
	list-style:disc;
	margin:2px 0;
}
#listId .no_more {
	background:#ececec;
}
 @media (max-width: 460px) {
.carousel-inner {
 height:160px;
}
.carousel-inner > .item {
 height:160px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
 height:100%;
}
}
