
ol, ul {
	list-style:none
}



.small {
	font-size:14px;
	color:#a5adb4;
}
.small a {
	color:#a5adb4;
}
.small a:hover {
	color:#fb565e
}
#content.table-layout > div.std-box {
	width:100%;
	float:left;
	}
.glyphs.character-mapping {
	margin:0 0 20px 0;
	padding:20px 0 20px 30px;
	color:rgba(0, 0, 0, 0.5);
	border:1px solid #d8e0e5;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.glyphs.character-mapping li {
	margin:0 30px 20px 0;
	display:inline-block;
	width:90px
}
.glyphs.character-mapping .icon {
	margin:10px 0 10px 15px;
	padding:15px;
	position:relative;
	width:55px;
	height:55px;
	color:#162a36 !important;
	overflow:hidden;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-size:32px;
}
.glyphs.character-mapping .icon svg {
	fill:#000
}
.glyphs.character-mapping input {
	margin:0;
	padding:5px 0;
	line-height:12px;
	font-size:12px;
	display:block;
	width:100%;
	border:1px solid #d8e0e5;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align:center;
	outline:0;
}
.glyphs.character-mapping input:focus {
	border:1px solid #fbde4a;
	-webkit-box-shadow:inset 0 0 3px #fbde4a;
	box-shadow:inset 0 0 3px #fbde4a
}
.glyphs.character-mapping input:hover {
	-webkit-box-shadow:inset 0 0 3px #fbde4a;
	box-shadow:inset 0 0 3px #fbde4a
}
.glyphs.css-mapping {
	margin:0 0 60px 0;
	padding:30px 0 20px 30px;
	color:rgba(0, 0, 0, 0.5);
	/*border:1px solid #d8e0e5;*/
	-webkit-border-radius:3px;
	border-radius:3px;
}
.glyphs.css-mapping li {
	margin:0 30px 20px 0;
	padding:0;
	display:inline-block;
	overflow:hidden
}
.glyphs.css-mapping .icon {
	margin:0;
	margin-right:10px;
	padding:13px;
	height:50px;
	width:50px;
	color:#162a36 !important;
	overflow:hidden;
	float:left;
	font-size:24px
}
.glyphs.css-mapping input {
	margin:0;
	margin-top:5px;
	padding:8px;
	line-height:16px;
	font-size:16px;
	display:block;
	width:150px;
	height:40px;
	border:1px solid #d8e0e5;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#fff;
	outline:0;
	float:right;
}
.glyphs.css-mapping input:focus {
	border:1px solid #fbde4a;
	-webkit-box-shadow:inset 0 0 3px #fbde4a;
	box-shadow:inset 0 0 3px #fbde4a
}
.glyphs.css-mapping input:hover {
	-webkit-box-shadow:inset 0 0 3px #fbde4a;
	box-shadow:inset 0 0 3px #fbde4a
}
sup {
	color: #fb565e;
    float: right;
    font-weight: bold;
	}
p.legend-new { 
	margin:15px;
	}
p.legend-new sup { 
	position: initial;
    top: 0;
    vertical-align: bottom;
    line-height: initial;
	
	}

/*Template 1*/
ul.template1 {
	float: left;
    margin: 0px 0 30px;
    width: 100%;
	padding:0;
	}
ul.template1 > li {
	float: left;
    font-size:42px;
    margin: 0 25px 0 0;
    width: auto;
	}
	
/*Template 2*/
ul.template2 {
	float: left;
    margin:0px 0 30px;
    width: 100%;
	padding:0;
	}
ul.template2 > li {
	float: left;
    font-size:42px;
    margin: 0 7px 0 0;
    width: auto;
	}
ul.template2 > li a {
	color:#fb565e;
	text-decoration:none;
	transition:all 0.5s;
	}
ul.template2 > li a:hover {
	color:#000;
	}
	
	
/*Template 3*/
ul.template3 {
	float: left;
    margin: 0px 0 30px;
    width: 100%;
	padding:0;
	}
ul.template3 > li {
	float: left;
    font-size:56px;
    margin: 0 25px 0 0;
    width: auto;
	}
ul.template3 > li:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #000;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
/* Effect 2b */
ul.template3 > li:hover:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s;
}
ul.template3 > li:hover, ul.template3 > li:hover span {
    color: #000;
	background:#fff;
}
ul.template3 > li a {
	color:#fb565e;
	text-decoration:none;
	transition:all 0.5s;
	}
	

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.svg-wrapper {
  margin-top: 0;
  position: relative;
 /* width: 150px;*/
  /*make sure to use same height/width as in the html*/
 /* height: 40px;*/
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #ec1b30;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -272;
  transition: 1s all ease;
}


#text {
  margin-top:0;
  position:absolute;
  top:5px;
  left:15px;
}

#text a {
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #000;
}