
@font-face {
  font-family: "irfont";
  src:url("../fonts/irfont.eot");
  src:url("../fonts/irfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/irfont.woff") format("woff"),
    url("../fonts/irfont.ttf") format("truetype"),
    url("../fonts/irfont.svg#irfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "irfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ir-"]:before,
[class*=" ir-"]:before {
  font-family: "irfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ir-t1-address:before {
  content: "\e036";
}
.ir-t1-addtoany:before {
  content: "\e037";
}
.ir-t1-application-list:before {
  content: "\e038";
}
.ir-t1-blogs:before {
  content: "\e039";
}
.ir-t1-book-open:before {
  content: "\e03a";
}
.ir-t1-calendar:before {
  content: "\e03b";
}
.ir-t1-chart:before {
  content: "\e03c";
}
.ir-t1-clear-folder:before {
  content: "\e03d";
}
.ir-t1-document-excel:before {
  content: "\e03e";
}
.ir-t1-document-music:before {
  content: "\e03f";
}
.ir-t1-document-pdf:before {
  content: "\e040";
}
.ir-t1-feed:before {
  content: "\e041";
}
.ir-t1-mail:before {
  content: "\e042";
}
.ir-t1-mail-alert:before {
  content: "\e043";
}
.ir-t1-mobile-phone:before {
  content: "\e044";
}
.ir-t1-printer:before {
  content: "\e045";
}
.ir-t1-projection-screen:before {
  content: "\e046";
}
.ir-t1-users:before {
  content: "\e047";
}
.ir-t2-address:before {
  content: "\e048";
}
.ir-t2-addtoany:before {
  content: "\e049";
}
.ir-t2-application-list:before {
  content: "\e04a";
}
.ir-t2-blogs:before {
  content: "\e04b";
}
.ir-t2-book-open:before {
  content: "\e04c";
}
.ir-t2-calendar:before {
  content: "\e04d";
}
.ir-t2-chart:before {
  content: "\e04e";
}
.ir-t2-clear-folder:before {
  content: "\e04f";
}
.ir-t2-document-excel:before {
  content: "\e050";
}
.ir-t2-document-music:before {
  content: "\e051";
}
.ir-t2-document-pdf:before {
  content: "\e052";
}
.ir-t2-feed:before {
  content: "\e053";
}
.ir-t2-mail:before {
  content: "\e054";
}
.ir-t2-mail-alert:before {
  content: "\e055";
}
.ir-t2-mobile-phone:before {
  content: "\e056";
}
.ir-t2-printer:before {
  content: "\e057";
}
.ir-t2-projection-screen:before {
  content: "\e058";
}
.ir-t2-users:before {
  content: "\e059";
}
.ir-t3-address:before {
  content: "\e05a";
}
.ir-t3-addtoany:before {
  content: "\e05b";
}
.ir-t3-application-list:before {
  content: "\e05c";
}
.ir-t3-blogs:before {
  content: "\e05d";
}
.ir-t3-book-open:before {
  content: "\e05e";
}
.ir-t3-calendar:before {
  content: "\e05f";
}
.ir-t3-chart:before {
  content: "\e060";
}
.ir-t3-clear-folder:before {
  content: "\e061";
}
.ir-t3-document-excel:before {
  content: "\e062";
}
.ir-t3-document-music:before {
  content: "\e063";
}
.ir-t3-document-pdf:before {
  content: "\e064";
}
.ir-t3-feed:before {
  content: "\e065";
}
.ir-t3-mail:before {
  content: "\e066";
}
.ir-t3-mail-alert:before {
  content: "\e067";
}
.ir-t3-mobile-phone:before {
  content: "\e068";
}
.ir-t3-printer:before {
  content: "\e069";
}
.ir-t3-projection-screen:before {
  content: "\e06a";
}
.ir-t3-users:before {
  content: "\e06b";
}
/*Custom CSS*/
.irwToolKit { margin-bottom: 5px; }
.irwToolKit a { margin-left: 10px; color: #d7d7d7; }
.irwToolKit a:hover { color: #a2a2a2; }
.irwToolKit a.a2a_dd { margin-left: 4px; }
.irwToolKit .irwLoading .fa-spin { top: 0px; left: 10px; }
.irwToolKit a span.icon { display: inline-block; font-size: 22px; }
.irwToolKit a.EmailPopup span.icon { font-size: 24px; }